<%= form_with(model: application_type, local: true) do |form| %>
  <% if application_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(application_type.errors.count, "error") %> prohibited this application_type from being saved:</h2>

      <ul>
        <% application_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :last_used %>
    <%= form.number_field :last_used %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
