<p id="notice"><%= notice %></p>

<h1>Application Types</h1>

<table>
  <thead>
    <tr>
      <th>Lastused</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @application_types.each do |application_type| %>
      <tr>
        <td><%= application_type.LastUsed %></td>
        <td><%= link_to 'Show', application_type %></td>
        <td><%= link_to 'Edit', edit_application_type_path(application_type) %></td>
        <td><%= link_to 'Destroy', application_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Application Type', new_application_type_path %>
