<div class="d-flex justify-content-between align-items-center my-2">
  <div class="flex-grow-1">
    <%= form_with url: applications_path, class: 'input-group', html: { 'data-controller': 'search' }, method: :get do |search_form| %>
      <%= search_form.select :type,
                             # All types are searchable, even inactive ones
                             ApplicationType.ordered_values, 
                             { include_blank: 'Select Type:', selected: params[:type] },
                             {
                               class: 'form-select',
                               style: 'max-width: 16ch; min-width: 8ch;',
                               'data-search-target': 'type'
                             } %>
      <span class="input-group-text">From</span>
      <%= search_form.date_field :start_date,
                                 {
                                   value: params[:start_date],
                                   class: 'form-control',
                                   style: 'max-width: 18ch; min-width: 18ch;',
                                   'data-search-target': 'startDate',
                                   min: '1970-01-01'
                                 } %>
      <span class="input-group-text">To</span>
      <%= search_form.date_field :end_date,
                                 {
                                   value: params[:end_date],
                                   class: 'form-control',
                                   style: 'max-width: 18ch; min-width: 18ch;',
                                   'data-search-target': 'endDate',
                                   min: '1970-01-01'
                                 } %>
      <span class="input-group-text">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-search"
          viewBox="0 0 16 16">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
        </svg>
      </span>
      <%= search_form.text_field :search_text,
                                 value: params[:search_text],
                                 class: 'form-control w-25',
                                 style: 'max-width: 50ch; min-width: 20ch;',
                                 'data-search-target': 'searchText' %>
      <%= search_form.button 'Search',
                             type: 'submit',
                             name: nil,
                             class: 'btn btn-primary',
                             data: {
                               controller: 'loading-button',
                               action: 'loading-button#onSubmit',
                               'loading-button-loading-text-param': ''
                             } %>
      <button
        type="button"
        id="clear-search"
        class="btn btn-outline-secondary"
        data-action="search#resetForm">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          fill="currentColor"
          class="bi bi-x-circle-fill"
          viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
        </svg>
      </button>
    <% end %>
  </div>
  <div class="d-flex justify-content-end ps-2">
    <%= link_to 'New Application',
                new_application_path,
                class: 'btn btn-success text-nowrap new-application-button',
                data: {
                  controller: 'loading-button',
                  action: 'loading-button#onClick'
                } %>
  </div>
</div>
