<%= form_with(model: suburb, local: true) do |form| %>
  <% if suburb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(suburb.errors.count, "error") %>
        prohibited this suburb from being saved:</h2>

      <ul>
        <% suburb.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :display_name %>
    <%= form.text_area :display_name %>
  </div>

  <div class="field">
    <%= form.label :suburb %>
    <%= form.text_area :suburb %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_area :state %>
  </div>

  <div class="field">
    <%= form.label :postcode %>
    <%= form.text_area :postcode %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
