<p id="notice"><%= notice %></p>

<p>
  <strong>Display name:</strong>
  <%= @suburb.display_name %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @suburb.suburb %>
</p>

<p>
  <strong>State:</strong>
  <%= @suburb.state %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @suburb.postcode %>
</p>

<%= link_to 'Edit', edit_suburb_path(@suburb) %> |
<%= link_to 'Back', suburbs_path %>
