<%= form_with url: building_surveyor_search_path, html: { 'data-controller': 'surveyor-search' }, method: :get do |form| %>
  <div class="d-flex justify-content-start align-items-end">

    <div class="me-2">
      <!-- Building Surveyor -->
      <%= form.label :building_surveyor, class: 'form-label small mb-0 mt-2' %>
      <%= form.select :building_surveyor,
                      Application::BUILDING_SURVEYOR,
                      { include_blank: 'Select:', selected: params[:building_surveyor] },
                      { class: 'form-select', 'data-surveyor-search-target': 'surveyor' } %>
    </div>

    <div class="mx-2">
      <!-- Assessment assigned start date -->
      <%= form.label :start_date,
                     'Assessment assigned from',
                     class: 'form-label small mb-0 mt-2' %>
      <%= form.date_field :start_date,
                          {
                            value: params[:start_date],
                            class: 'form-control',
                            style: 'max-width: 18ch; min-width: 18ch;',
                            'data-surveyor-search-target': 'startDate',
                            min: '1970-01-01'
                          } %>
    </div>

    <div class="mx-2">
      <!-- Assessment assigned end date -->
      <%= form.label :end_date,
                     'Assessment assigned to',
                     class: 'form-label small mb-0 mt-2' %>
      <%= form.date_field :end_date,
                          {
                            value: params[:end_date],
                            class: 'form-control',
                            style: 'max-width: 18ch; min-width: 18ch;',
                            'data-surveyor-search-target': 'endDate',
                            min: '1970-01-01'
                          } %>
    </div>

    <div class="mx-2 flex-grow-1">
      <!-- Search text -->
      <div class="input-group" style="flex-wrap: nowrap">
        <span class="input-group-text">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-search"
            viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg>

        </span>
        <!-- Search -->
        <%= form.text_field :search_text,
                            value: params[:search_text],
                            class: 'form-control',
                            style: 'max-width: 60ch; min-width: 30ch;',
                            'data-surveyor-search-target': 'searchText' %>
        <%= form.button 'Search',
                        type: 'submit',
                        name: nil,
                        class: 'btn btn-primary',
                        data: {
                          controller: 'loading-button',
                          action: 'loading-button#onSubmit',
                          'loading-button-loading-text-param': ''
                        } %>

        <button
          class="btn btn-outline-secondary"
          type="button"
          id="clear-search"
          data-action="surveyor-search#resetForm">
          <!-- Clear -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor"
            class="bi bi-x-circle-fill"
            viewBox="0 0 16 16">
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-start align-items-end mb-3">

    <div class="me-2">
      <!-- Application Type -->
      <%= form.label :application_type_id, 'Type', class: 'form-label small mb-0 mt-2' %>
      <%= form.select :type,
                      # All types are searchable, even inactive ones
                      ApplicationType.ordered_values,
                      { include_blank: 'Select:', selected: params[:type] },
                      { class: 'form-select', 'data-surveyor-search-target': 'type' } %>
    </div>

    <div class="mx-2">
      <!-- Has RFIs issued -->
      <%= form.label :has_rfis_issued, 'Has RFIs issued?', class: 'w-100 form-check-label' %>
      <%= checkbox_tag 'has_rfis_issued',
                       checked: params[:has_rfis_issued] == '1',
                       data: {
                         'surveyor-search-target': 'rfisIssued'
                       },
                       class: 'form-check-input' %>
    </div>

    <div class="mx-2">
      <!-- Has additional information -->
      <%= form.label :has_additional_information,
                     'Has additional information?',
                     class: 'w-100 form-check-label' %>
      <%= checkbox_tag 'has_additional_information',
                       checked: params[:has_additional_information] == '1',
                       data: {
                         'surveyor-search-target': 'additionalInformation'
                       },
                       class: 'form-check-input' %>
    </div>

    <div class="mx-2">
      <!-- Has received engineer certificate -->
      <%= form.label :has_received_engineer_certificate,
                     'Has received engineer certificate?',
                     class: 'w-100 form-check-label' %>
      <%= checkbox_tag 'has_received_engineer_certificate',
                       checked: params[:has_received_engineer_certificate] == '1',
                       data: {
                         'surveyor-search-target': 'engineerCertificate'
                       },
                       class: 'form-check-input' %>
    </div>

    <div class="mx-2">
      <!-- Has invoices outstanding -->
      <%= form.label :has_invoices_outstanding,
                     'Has invoices outstanding?',
                     class: 'w-100 form-check-label' %>
      <%= checkbox_tag 'has_invoices_outstanding',
                       checked: params[:has_invoices_outstanding] == '1',
                       data: {
                         'surveyor-search-target': 'invoicesOutstanding'
                       },
                       class: 'form-check-input' %>
    </div>

    <div class="mx-2">
      <!-- Has variation requested? -->
      <%= form.label :has_variation_requested,
                     'Has variation requested?',
                     class: 'w-100 form-check-label' %>
      <%= checkbox_tag 'has_variation_requested',
                       checked: params[:has_variation_requested] == '1',
                       data: {
                         'surveyor-search-target': 'variationRequested'
                       },
                       class: 'form-check-input' %>
    </div>

    <div class="mx-2 flex-grow-1 d-flex justify-content-end">
      <!-- New Application -->
      <div>
        <%= link_to 'New Application',
                    new_application_path,
                    class: 'btn btn-success text-nowrap new-application-button',
                    data: {
                      controller: 'loading-button',
                      action: 'loading-button#onClick'
                    } %>
      </div>
    </div>
  </div>
<% end %>
