<%= form_with(model: invoice, local: true) do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
        <% invoice.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :InvoiceNo %>
    <%= form.text_area :InvoiceNo %>
  </div>

  <div class="field">
    <%= form.label :Stage %>
    <%= form.text_area :Stage %>
  </div>

  <div class="field">
    <%= form.label :Fee %>
    <%= form.text_field :Fee %>
  </div>

  <div class="field">
    <%= form.label :GST %>
    <%= form.text_field :GST %>
  </div>

  <div class="field">
    <%= form.label :DAC %>
    <%= form.text_field :DAC %>
  </div>

  <div class="field">
    <%= form.label :Lodgement %>
    <%= form.text_field :Lodgement %>
  </div>

  <div class="field">
    <%= form.label :InsLevy %>
    <%= form.text_field :InsLevy %>
  </div>

  <div class="field">
    <%= form.label :PercentInvoiced %>
    <%= form.text_field :PercentInvoiced %>
  </div>

  <div class="field">
    <%= form.label :InvoiceDate %>
    <%= form.date_select :InvoiceDate %>
  </div>

  <div class="field">
    <%= form.label :Paid %>
    <%= form.check_box :Paid %>
  </div>

  <div class="field">
    <%= form.label :ApplicationID_id %>
    <%= form.text_field :ApplicationID_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
