<p id="notice"><%= notice %></p>

<h1>Invoices</h1>

<table>
  <thead>
    <tr>
      <th>Invoiceno</th>
      <th>Stage</th>
      <th>Fee</th>
      <th>Gst</th>
      <th>Dac</th>
      <th>Lodgement</th>
      <th>Inslevy</th>
      <th>Percentinvoiced</th>
      <th>Invoicedate</th>
      <th>Paid</th>
      <th>Applicationid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.InvoiceNo %></td>
        <td><%= invoice.Stage %></td>
        <td><%= invoice.Fee %></td>
        <td><%= invoice.GST %></td>
        <td><%= invoice.DAC %></td>
        <td><%= invoice.Lodgement %></td>
        <td><%= invoice.InsLevy %></td>
        <td><%= invoice.PercentInvoiced %></td>
        <td><%= invoice.InvoiceDate %></td>
        <td><%= invoice.Paid %></td>
        <td><%= invoice.ApplicationID_id %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
