<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice number:</strong>
  <%= @invoice.invoice_number %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @invoice.stage %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @invoice.fee %>
</p>

<p>
  <strong>Gst:</strong>
  <%= @invoice.gst %>
</p>

<p>
  <strong>Dac:</strong>
  <%= @invoice.dac %>
</p>

<p>
  <strong>Lodgement:</strong>
  <%= @invoice.lodgement %>
</p>

<p>
  <strong>Insurance levy:</strong>
  <%= @invoice.insurance_levy %>
</p>

<p>
  <strong>Percent invoiced:</strong>
  <%= @invoice.percent_invoiced %>
</p>

<p>
  <strong>Invoice date:</strong>
  <%= @invoice.invoice_date %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @invoice.paid %>
</p>

<p>
  <strong>Application:</strong>
  <%= @invoice.application_id %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
