<p id="notice"><%= notice %></p>

<p>
  <strong>Invoiceno:</strong>
  <%= @invoice.InvoiceNo %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @invoice.Stage %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @invoice.Fee %>
</p>

<p>
  <strong>Gst:</strong>
  <%= @invoice.GST %>
</p>

<p>
  <strong>Dac:</strong>
  <%= @invoice.DAC %>
</p>

<p>
  <strong>Lodgement:</strong>
  <%= @invoice.Lodgement %>
</p>

<p>
  <strong>Inslevy:</strong>
  <%= @invoice.InsLevy %>
</p>

<p>
  <strong>Percentinvoiced:</strong>
  <%= @invoice.PercentInvoiced %>
</p>

<p>
  <strong>Invoicedate:</strong>
  <%= @invoice.InvoiceDate %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @invoice.Paid %>
</p>

<p>
  <strong>Applicationid:</strong>
  <%= @invoice.ApplicationID_id %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
