<%= form_with(model: application_additional_information, local: true) do |form| %>
  <% if application_additional_information.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(application_additional_information.errors.count, "error") %>
        prohibited this application_additional_information from being saved:</h2>

      <ul>
        <% application_additional_information.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :info_date %>
    <%= form.date_select :info_date %>
  </div>

  <div class="field">
    <%= form.label :info_text %>
    <%= form.text_area :info_text %>
  </div>

  <div class="field">
    <%= form.label :application_id %>
    <%= form.text_field :application_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
