<p id="notice"><%= notice %></p>

<p>
  <strong>Info date:</strong>
  <%= @application_additional_information.info_date %>
</p>

<p>
  <strong>Info text:</strong>
  <%= @application_additional_information.info_text %>
</p>

<p>
  <strong>Application:</strong>
  <%= @application_additional_information.application_id %>
</p>

<%= link_to 'Edit', edit_application_additional_information_path(@application_additional_information) %> |
<%= link_to 'Back', application_additional_informations_path %>
