<tr class="nested-fields">
  <td class="border-0 py-1">
    <%= f.label :info_date, class: 'd-none' %>
    <%= f.date_field :info_date, 'data-testid': 'info_date' %>
  </td>
  <td class="border-0 py-1">
    <%= f.label :info_text, class: 'd-none' %>
    <%= f.text_field :info_text, 'data-testid': 'info_text' %>
  </td>
  <td class="border-0 py-1 text-center" style="width:3em">
    <%= link_to_remove_association '⌫', f, class: 'btn btn-sm btn-outline-danger' %>
  </td>
</tr>
