<tr class="nested-fields">
  <td class="py-1">
    <%= f.label :invoice_date, class: 'd-none' %>
    <%= f.date_field :invoice_date %>
  </td>
  <td class="py-1">
    <%= f.label :stage, class: 'd-none' %>
    <%= f.text_field :stage %>
  </td>
  <td class="py-1">
    <%= f.label :fee, class: 'd-none' %>
    <%= f.text_field :fee,
                     type: 'number',
                     min: '0',
                     step: 'any',
                     data: {
                       'invoice-table-target': 'kdFee',
                       action: 'change->invoice-table#updateGstAndTotals'
                     } %>
  </td>
  <td class="py-1">
    <%= f.label :gst, class: 'd-none' %>
    <%# We can't add "disabled: true" to this field here because it breaks the tests :( %>
    <%= f.text_field :gst,
                     type: 'number',
                     min: '0',
                     step: 'any',
                     readonly: true,
                     style: 'background-color: #f0f0f0',
                     data: {
                       'invoice-table-target': 'gst',
                       action: 'change->invoice-table#updateGstAndTotals'
                     } %>
  </td>
  <td class="py-1">
    <%= f.label :admin_fee, class: 'd-none' %>
    <%= f.text_field :admin_fee,
                     type: 'number',
                     min: '0',
                     step: 'any',
                     data: {
                       'invoice-table-target': 'adminFee',
                       action: 'change->invoice-table#updateGstAndTotals'
                     } %>
  </td>
  <td class="py-1">
    <%= f.label :invoice_number, class: 'd-none' %>
    <%= f.text_field :invoice_number %>
  </td>
  <td class="py-1">
    <%= f.label :paid, class: 'd-none' %>
    <%= f.check_box :paid %>
  </td>
  <td class="py-1">
    <%= link_to_remove_association '⌫', f, class: 'btn btn-sm btn-outline-danger' %>
  </td>
</tr>
