<%= form_with(model: uploaded, local: true) do |form| %>
  <% if uploaded.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(uploaded.errors.count, "error") %> prohibited this uploaded from being saved:</h2>

      <ul>
        <% uploaded.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :UploadedDate %>
    <%= form.date_select :UploadedDate %>
  </div>

  <div class="field">
    <%= form.label :UploadedText %>
    <%= form.text_area :UploadedText %>
  </div>

  <div class="field">
    <%= form.label :ApplicationID_id %>
    <%= form.text_field :ApplicationID_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
