<p id="notice"><%= notice %></p>

<h1>Uploadeds</h1>

<table>
  <thead>
    <tr>
      <th>Uploadeddate</th>
      <th>Uploadedtext</th>
      <th>Applicationid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uploadeds.each do |uploaded| %>
      <tr>
        <td><%= uploaded.UploadedDate %></td>
        <td><%= uploaded.UploadedText %></td>
        <td><%= uploaded.ApplicationID_id %></td>
        <td><%= link_to 'Show', uploaded %></td>
        <td><%= link_to 'Edit', edit_uploaded_path(uploaded) %></td>
        <td><%= link_to 'Destroy', uploaded, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Uploaded', new_uploaded_path %>
