<p id="notice"><%= notice %></p>

<p>
  <strong>Uploadeddate:</strong>
  <%= @uploaded.UploadedDate %>
</p>

<p>
  <strong>Uploadedtext:</strong>
  <%= @uploaded.UploadedText %>
</p>

<p>
  <strong>Applicationid:</strong>
  <%= @uploaded.ApplicationID_id %>
</p>

<%= link_to 'Edit', edit_uploaded_path(@uploaded) %> |
<%= link_to 'Back', uploadeds_path %>
