<div id="<%= dom_id application %>">
  <p>
    <strong>Reference number:</strong>
    <%= application.reference_number %>
  </p>

  <p>
    <strong>Converted to from:</strong>
    <%= application.converted_to_from %>
  </p>

  <p>
    <strong>Council:</strong>
    <%= application.council_id %>
  </p>

  <p>
    <strong>Development application number:</strong>
    <%= application.development_application_number %>
  </p>

  <p>
    <strong>Applicant:</strong>
    <%= application.applicant_id %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= application.owner_id %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= application.contact_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= application.description %>
  </p>

  <p>
    <strong>Cancelled:</strong>
    <%= application.cancelled %>
  </p>

  <p>
    <strong>Street number:</strong>
    <%= application.street_number %>
  </p>

  <p>
    <strong>Lot number:</strong>
    <%= application.lot_number %>
  </p>

  <p>
    <strong>Street name:</strong>
    <%= application.street_name %>
  </p>

  <p>
    <strong>Suburb:</strong>
    <%= application.suburb_id %>
  </p>

  <p>
    <strong>Electronic lodgement:</strong>
    <%= application.electronic_lodgement %>
  </p>

  <p>
    <strong>Engagement form:</strong>
    <%= application.engagement_form %>
  </p>

  <p>
    <strong>Job type administration:</strong>
    <%= application.job_type_administration %>
  </p>

  <p>
    <strong>Quote accepted date:</strong>
    <%= application.quote_accepted_date %>
  </p>

  <p>
    <strong>Administration notes:</strong>
    <%= application.administration_notes %>
  </p>

  <p>
    <strong>Number of storeys:</strong>
    <%= application.number_of_storeys %>
  </p>

  <p>
    <strong>Construction value:</strong>
    <%= application.construction_value %>
  </p>

  <p>
    <strong>Fee amount:</strong>
    <%= application.fee_amount %>
  </p>

  <p>
    <strong>Building surveyor:</strong>
    <%= application.building_surveyor %>
  </p>

  <p>
    <strong>Structural engineer:</strong>
    <%= application.structural_engineer %>
  </p>

  <p>
    <strong>Risk rating:</strong>
    <%= application.risk_rating %>
  </p>

  <p>
    <strong>Consultancies review inspection:</strong>
    <%= application.consultancies_review_inspection %>
  </p>

  <p>
    <strong>Consultancies report sent:</strong>
    <%= application.consultancies_report_sent %>
  </p>

  <p>
    <strong>Assessment commenced:</strong>
    <%= application.assessment_commenced %>
  </p>

  <p>
    <strong>Consent issued:</strong>
    <%= application.consent_issued %>
  </p>

  <p>
    <strong>Variation issued:</strong>
    <%= application.variation_issued %>
  </p>

  <p>
    <strong>Coo issued:</strong>
    <%= application.coo_issued %>
  </p>

  <p>
    <strong>Engineer certificate received:</strong>
    <%= application.engineer_certificate_received %>
  </p>

  <p>
    <strong>Certifier:</strong>
    <%= application.certifier %>
  </p>

  <p>
    <strong>Certification notes:</strong>
    <%= application.certification_notes %>
  </p>

  <p>
    <strong>Invoice to:</strong>
    <%= application.invoice_to %>
  </p>

  <p>
    <strong>Care of:</strong>
    <%= application.care_of %>
  </p>

  <p>
    <strong>Invoice email:</strong>
    <%= application.invoice_email %>
  </p>

  <p>
    <strong>Attention:</strong>
    <%= application.attention %>
  </p>

  <p>
    <strong>Purchase order number:</strong>
    <%= application.purchase_order_number %>
  </p>

  <p>
    <strong>Fully invoiced:</strong>
    <%= application.fully_invoiced %>
  </p>

  <p>
    <strong>Invoice debtor notes:</strong>
    <%= application.invoice_debtor_notes %>
  </p>

  <p>
    <strong>Applicant email:</strong>
    <%= application.applicant_email %>
  </p>

  <p>
    <strong>Application type:</strong>
    <%= application.application_type_id %>
  </p>

  <p>
    <strong>External engineer date:</strong>
    <%= application.external_engineer_date %>
  </p>

</div>
