<%= form_with(model: application) do |form| %>
  <% if application.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(application.errors.count, "error") %>
        prohibited this application from being saved:</h2>

      <ul>
        <% application.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :reference_number, style: "display: block" %>
    <%= form.textarea :reference_number %>
  </div>

  <div>
    <%= form.label :converted_to_from, style: "display: block" %>
    <%= form.textarea :converted_to_from %>
  </div>

  <div>
    <%= form.label :council_id, style: "display: block" %>
    <%= form.text_field :council_id %>
  </div>

  <div>
    <%= form.label :development_application_number, style: "display: block" %>
    <%= form.textarea :development_application_number %>
  </div>

  <div>
    <%= form.label :applicant_id, style: "display: block" %>
    <%= form.text_field :applicant_id %>
  </div>

  <div>
    <%= form.label :owner_id, style: "display: block" %>
    <%= form.text_field :owner_id %>
  </div>

  <div>
    <%= form.label :contact_id, style: "display: block" %>
    <%= form.text_field :contact_id %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.textarea :description %>
  </div>

  <div>
    <%= form.label :cancelled, style: "display: block" %>
    <%= form.checkbox :cancelled %>
  </div>

  <div>
    <%= form.label :street_number, style: "display: block" %>
    <%= form.textarea :street_number %>
  </div>

  <div>
    <%= form.label :lot_number, style: "display: block" %>
    <%= form.textarea :lot_number %>
  </div>

  <div>
    <%= form.label :street_name, style: "display: block" %>
    <%= form.textarea :street_name %>
  </div>

  <div>
    <%= form.label :suburb_id, style: "display: block" %>
    <%= form.text_field :suburb_id %>
  </div>

  <div>
    <%= form.label :electronic_lodgement, style: "display: block" %>
    <%= form.checkbox :electronic_lodgement %>
  </div>

  <div>
    <%= form.label :engagement_form, style: "display: block" %>
    <%= form.checkbox :engagement_form %>
  </div>

  <div>
    <%= form.label :job_type_administration, style: "display: block" %>
    <%= form.textarea :job_type_administration %>
  </div>

  <div>
    <%= form.label :quote_accepted_date, style: "display: block" %>
    <%= form.date_field :quote_accepted_date %>
  </div>

  <div>
    <%= form.label :administration_notes, style: "display: block" %>
    <%= form.textarea :administration_notes %>
  </div>

  <div>
    <%= form.label :number_of_storeys, style: "display: block" %>
    <%= form.number_field :number_of_storeys %>
  </div>

  <div>
    <%= form.label :construction_value, style: "display: block" %>
    <%= form.text_field :construction_value %>
  </div>

  <div>
    <%= form.label :fee_amount, style: "display: block" %>
    <%= form.text_field :fee_amount %>
  </div>

  <div>
    <%= form.label :building_surveyor, style: "display: block" %>
    <%= form.textarea :building_surveyor %>
  </div>

  <div>
    <%= form.label :structural_engineer, style: "display: block" %>
    <%= form.textarea :structural_engineer %>
  </div>

  <div>
    <%= form.label :risk_rating, style: "display: block" %>
    <%= form.textarea :risk_rating %>
  </div>

  <div>
    <%= form.label :consultancies_review_inspection, style: "display: block" %>
    <%= form.date_field :consultancies_review_inspection %>
  </div>

  <div>
    <%= form.label :consultancies_report_sent, style: "display: block" %>
    <%= form.date_field :consultancies_report_sent %>
  </div>

  <div>
    <%= form.label :assessment_commenced, style: "display: block" %>
    <%= form.date_field :assessment_commenced %>
  </div>

  <div>
    <%= form.label :consent_issued, style: "display: block" %>
    <%= form.date_field :consent_issued %>
  </div>

  <div>
    <%= form.label :variation_issued, style: "display: block" %>
    <%= form.date_field :variation_issued %>
  </div>

  <div>
    <%= form.label :coo_issued, style: "display: block" %>
    <%= form.date_field :coo_issued %>
  </div>

  <div>
    <%= form.label :engineer_certificate_received, style: "display: block" %>
    <%= form.date_field :engineer_certificate_received %>
  </div>

  <div>
    <%= form.label :certifier, style: "display: block" %>
    <%= form.textarea :certifier %>
  </div>

  <div>
    <%= form.label :certification_notes, style: "display: block" %>
    <%= form.textarea :certification_notes %>
  </div>

  <div>
    <%= form.label :invoice_to, style: "display: block" %>
    <%= form.textarea :invoice_to %>
  </div>

  <div>
    <%= form.label :care_of, style: "display: block" %>
    <%= form.textarea :care_of %>
  </div>

  <div>
    <%= form.label :invoice_email, style: "display: block" %>
    <%= form.textarea :invoice_email %>
  </div>

  <div>
    <%= form.label :attention, style: "display: block" %>
    <%= form.textarea :attention %>
  </div>

  <div>
    <%= form.label :purchase_order_number, style: "display: block" %>
    <%= form.textarea :purchase_order_number %>
  </div>

  <div>
    <%= form.label :fully_invoiced, style: "display: block" %>
    <%= form.checkbox :fully_invoiced %>
  </div>

  <div>
    <%= form.label :invoice_debtor_notes, style: "display: block" %>
    <%= form.textarea :invoice_debtor_notes %>
  </div>

  <div>
    <%= form.label :applicant_email, style: "display: block" %>
    <%= form.textarea :applicant_email %>
  </div>

  <div>
    <%= form.label :application_type_id, style: "display: block" %>
    <%= form.text_field :application_type_id %>
  </div>

  <div>
    <%= form.label :external_engineer_date, style: "display: block" %>
    <%= form.date_field :external_engineer_date %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
