<%= form_with model: application, local: true, builder: ApplicationHelper::BootstrapSmallFormBuilder, html: { autocomplete: "off", id: "application_form" } do |form| %>
  <% if application.errors.any? %>
    <div class="modal fade" id="errorsModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">The application couldn't be saved</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger" role="alert">
              <ul>
                <% application.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="container-fluid" id="application_form_container">
    <div class="row border">
      <div class="row text-center">
        <h4>Administration</h4>
      </div>
      <div class="row">
        <div class="col-8">
          <div class="row">
            <div class="col-1">
              <div class="field">
                <%= form.label :application_type_id, "Type" %>
                <%= form.collection_select :application_type_id, 
                  ApplicationType.order(:application_type), 
                  :id, 
                  :application_type, 
                  {prompt: 'Select'}, 
                  {
                    # prevent to change selectbox value if i say no to confirm
                    onfocus: "window.onTypeFocus.call(this)",
                    onchange: "window.onTypeChange.call(this, #{ApplicationType.all.to_json})"
                  } %>
              </div>
            </div>
            <div class="col">
              <div class="field">
                <%= form.label :reference_number, "Reference no." %>
                <%= form.text_field :reference_number %>
              </div>
            </div>
            <div class="col">
              <div class="field">
                <%= form.label :converted_to_from, "Converted to/from" %>
                <%= form.text_field :converted_to_from %>
              </div>
            </div>
            <div class="col">
              <div class="field">
                <%= form.label :created_at, "Date Entered" %>
                <%= form.date_field :created_at %>
              </div>
            </div>
            <div class="col-3">
              <div class="field">
                <%= form.label :council %>
                <div class="input-group">
                  <%= form.text_field :council_name, list: "councils", class:"editable-association" %>
                  <% if @application.council_id %>
                    <%= link_to 'Edit', edit_council_path(@application.council_id ||= 0), class: "btn btn-sm btn-outline-secondary"%>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="field">
                <%= form.label :development_application_number, "DA No." %>
                <%= form.text_field :development_application_number%>
              </div>
            </div>
          </div>
          <div class="row h-50">
            <div class="col-7">
              <div class="row">
                <div class="col">
                  <div class="field">
                    <%= form.label :applicant_name, "Applicant"%>
                    <div class="input-group">
                      <%= form.text_field :applicant_name, list: "clients", class:"editable-association" %>
                      <% if @application.applicant_id %>
                        <%= link_to 'Edit', edit_client_path(@application.applicant_id ||= 0), class: "btn btn-sm btn-outline-secondary"%>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="field">
                    <%= form.label :applicant_council_name, "Applicant Council"%>
                    <div class="input-group">
                      <%= form.text_field :applicant_council_name, list: "councils", class:"editable-association" %>
                      <% if @application.applicant_council_id %>
                        <%= link_to 'Edit', edit_council_path(@application.applicant_council_id ||= 0), class: "btn btn-sm btn-outline-secondary"%>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="field">
                    <%= form.label :owner_name, "Owner"%>
                    <div class="input-group">
                      <%= form.text_field :owner_name, list: "clients", class:"editable-association" %>
                      <% if @application.owner_id %>
                        <%= link_to 'Edit', edit_client_path(@application.owner_id ||= 0), class: "btn btn-sm btn-outline-secondary"%>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="field">
                    <%= form.label :owner_council_name, "Owner Council" %>
                    <div class="input-group">
                      <%= form.text_field :owner_council_name, list: "councils", class:"editable-association" %>
                      <% if @application.owner_council_id %>
                        <%= link_to 'Edit', edit_council_path(@application.owner_council_id ||= 0), class: "btn btn-sm btn-outline-secondary"%>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="field">
                    <%= form.label :client_name, "Contact"%>
                    <div class="input-group">
                      <%= form.text_field :client_name, list: "clients", class:"editable-association" %>
                      <% if @application.client_id %>
                        <%= link_to 'Edit', edit_client_path(@application.client_id ||= 0), class: "btn btn-sm btn-outline-secondary"%>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="field">
                    <%= form.label :client_council_name, "Contact Council"%>
                    <div class="input-group">
                      <%= form.text_field :client_council_name, list: "councils", class:"editable-association" %>
                      <% if @application.client_council_id %>
                        <%= link_to 'Edit', edit_council_path(@application.client_council_id ||= 0), class: "btn btn-sm btn-outline-secondary"%>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="field">
                  <%= form.label :description %>
                  <%= form.text_area :description, rows: 3 %>
                </div>
              </div>
              <div class="row">
                <div class="field">
                  <%= form.label :administration_notes %>
                  <%= form.text_area :administration_notes %>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-1">
              <div class="field">
                <%= form.label :lot_number %>
                <%= form.text_field :lot_number %>
              </div>
            </div>
            <div class="col-2">
              <div class="field">
                <%= form.label :street_number %>
                <%= form.text_field :street_number %>
              </div>
            </div>
            <div class="col-4">
              <div class="field">
                <%= form.label :street_name %>
                <%= form.text_field :street_name %>
              </div>
            </div>
            <div class="col">
              <div class="field">
                <%= form.label :suburb_display_name, "Suburb" %>
                <%= form.text_field :suburb_display_name, list: "suburbs", class: "form-control form-control-sm list-option-required" %>
              </div>
            </div>
            <div class="col-2">
              <div class="field">
                <label>Fee amount ($)</label>
                <%= form.text_field :fee_amount, type: "number", min: "1", step: "any" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <div class="field">
                <%= form.label :section_93A %>
                <%= form.date_field :section_93A %>
              </div>
            </div>
            <div class="col-1">
              <div class="field">
                <%= form.label :electronic_lodgement %>
                <%= form.check_box :electronic_lodgement %>
              </div>
            </div>
            <div class="col-1">
              <div class="field">
                <%= form.label :hard_copy %>
                <%= form.check_box :hard_copy %>
              </div>
            </div>
            <div class="col-2">
              <div class="field">
                <%= form.label :job_type %>
                <%= form.select :job_type, Application::JOB_TYPE_ADMINISTRATION, prompt: true %>
              </div>
            </div>
            <div class="col-2">
              <div class="field">
                <%= form.label :quote_accepted_date %>
                <%= form.date_field :quote_accepted_date %>
              </div>
            </div>
            <div class="col">
              <div class="field">
                <%= form.label :applicant_email %>
                <%= form.text_field :applicant_email %>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row additional-information-table h-50 flex-column">
            <div>
              <table class="table table-sm mb-0" style="table-layout: fixed">
                <thead>
                  <tr>
                    <td>Additional Information</td>
                    <td class="additional-information-text"></td>
                    <td class="additional-information-buttons">
                      <%= link_to_add_association 'Add', form, :application_additional_informations, 
                        'data-association-insertion-node': ".additional-information-fields",
                        'data-association-insertion-method': "append",
                        class: 'btn btn-sm btn-outline-primary'
                      %>
                    </td>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="additional-information-body-container">
              <table class="table table-sm mb-0" style="table-layout: fixed">
                <tbody class="additional-information-fields">
                  <%= form.fields_for :application_additional_informations do |additional_information_form| %>
                    <%= render 'application_additional_information_fields', f: additional_information_form %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row uploaded-table h-50 flex-column">
            <div>
              <table class="table table-sm mb-0" style="table-layout: fixed">
                <thead>
                  <tr>
                    <td>Uploaded</td>
                    <td class="uploaded-text"></td>
                    <td class="uploaded-buttons">
                      <%= link_to_add_association 'Add', form, :application_uploads, 
                        'data-association-insertion-node': ".uploaded-fields",
                        'data-association-insertion-method': "append",
                        class: 'btn btn-sm btn-outline-primary', id: 'application-add-uploaded'
                      %>
                    </td>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="uploaded-table-body-container">
              <table class="table table-sm mb-0" style="table-layout: fixed">
                <tbody class="uploaded-fields">
                  <%= form.fields_for :application_uploads do |uploads_form| %>
                    <%= render 'application_upload_fields', f: uploads_form %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5 border">
        <div class="row text-center">
          <h4>Certification</h4>
        </div>
        <div class="row">
          <div class="col">
            <div class="field">
              <%= form.label :building_surveyor %>
              <%= form.select :building_surveyor, Application::BUILDING_SURVEYOR, prompt: true %>
            </div>
          </div>
          <div class="col">
            <div class="field">
              <%= form.label :structural_engineer %>
              <%= form.select :structural_engineer, Application::STRUCTURAL_ENGINEER, prompt: true %>
            </div>
          </div>
          <div class="col">
            <div class="field">
              <%= form.label :risk_rating %>
              <%= form.select :risk_rating, Application::RISK_RATING, prompt: true %>
            </div>
          </div>
          <div class="col">
            <div class="field">
              <%= form.label :assesment_commenced %>
              <%= form.date_field :assesment_commenced %>
            </div>
          </div>
        </div>
        <div class="row" style="height: 40%">
          <div class="col">
            <div class="row">
              <div class="col">
                <div class="field">
                  <%= form.label :request_for_information_issued, "RFI issued" %>
                  <%= form.date_field :request_for_information_issued %>
                </div>
              </div>
              <div class="col">
                <div class="field">
                  <%= form.label :consent_issued %>
                  <%= form.date_field :consent_issued %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="field">
                  <%= form.label :variation_issued %>
                  <%= form.date_field :variation_issued %>
                </div>
              </div>
              <div class="col">
                <div class="field">
                  <%= form.label :coo_issued %>
                  <%= form.date_field :coo_issued %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div>
              <table class="table table-sm mb-0" style="table-layout: fixed">
                <thead>
                  <tr style="vertical-align: top;">
                    <td class="stages-date">Stages</td>
                    <td class="stages-text"></td>
                    <td class="stages-buttons">
                      <%= link_to_add_association 'Add', form, :stages, 
                        'data-association-insertion-node': ".stages-fields",
                        'data-association-insertion-method': "append",
                        class: 'btn btn-sm btn-outline-primary py-0'
                      %>
                    </td>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="stages-body-container">
              <table class="table table-sm mb-0" style="table-layout: fixed">
                <tbody class="stages-fields">
                  <%= form.fields_for :stages do |stages_form| %>
                    <%= render 'stage_fields', f: stages_form %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <h6>Performance Indicators</h6>
          </div>
          <div class="col-3">
            <div class="field">
              <%= form.label :job_type %>
              <%= form.select :job_type, Application::JOB_TYPE, prompt: true %>
            </div>
          </div>
          <div class="col-3">
            <div class="field">
              <%= form.label :consent %>
              <%= form.select :consent, Application::CONSENT, prompt: true %>
            </div>
          </div>
          <div class="col-3">
            <div class="field">
              <%= form.label :certifier %>
              <%= form.select :certifier, Application::CERTIFIER, prompt: true %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="field">
              <%= form.label :certification_notes %>
              <%= form.text_area :certification_notes, rows: 2 %>
            </div>
          </div>
        </div>
      </div>
      <div class="col border">
        <div class="row text-center">
          <h4>Invoicing</h4>
        </div>
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="field">
                <%= form.label :invoice_to %>
                <%= form.text_field :invoice_to %>
              </div>
            </div>
            <div class="row">
              <div class="field">
                <%= form.label :care_of %>
                <%= form.text_field :care_of %>
              </div>
            </div>
            <div class="row">
              <div class="field">
                <%= form.label :invoice_email %>
                <%= form.text_field :invoice_email %>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="field">
                  <%= form.label :attention %>
                  <%= form.text_field :attention %>
                </div>
              </div>
              <div class="col">
                <div class="field">
                  <%= form.label :purchase_order_number, "Purchase No."%>
                  <%= form.text_field :purchase_order_number %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="field">
                <%= form.label :invoice_debtor_notes %>
                <%= form.text_area :invoice_debtor_notes, rows: 4 %>
              </div>
            </div>
          </div>
          <div class="col-9 invoice-table h-100">
            <table class="table table-sm mb-0" style="table-layout: fixed">
              <thead>
                <tr>
                  <td class="invoice-table-date">Date</td>
                  <td>Stage</td>
                  <td>KD Fee</td>
                  <td>Ins. levy</td>
                  <td>GST</td>
                  <td>Admin</td>
                  <td class="invoice-table-dac">DAC</td>
                  <td class="invoice-table-lodgement">Ldgmt.</td>
                  <td class="invoice-table-invoice-number">Invoice no.</td>
                  <td class="invoice-table-paid">Paid</td>
                  <td class="invoice-table-buttons"></td>
                </tr>
              </thead>
            </table>
            <div style="max-height: 256px; overflow:overlay">
              <table class="table table-sm mb-0" style="table-layout: fixed">
                <tbody class="invoice-fields">
                  <%= form.fields_for :invoices do |invoices_form| %>
                    <%= render 'invoice_fields', f: invoices_form %>
                  <% end %>
                </tbody>
              </table>
            </div>
            <table class="table table-sm mb-0" style="table-layout: fixed">
              <tfoot class="invoice-footer">
                <tr>
                  <td class="invoice-table-date">Totals</td>
                  <td></td>
                  <td id="fee-total"></td>
                  <td id="insurance-levy-total"></td>
                  <td id="gst-total"></td>
                  <td id="admin-total"></td>
                  <td class="invoice-table-dac" id="dac-total"></td>
                  <td class="invoice-table-lodgement" id="lodgement-total"></td>
                  <td class="invoice-table-invoice-number">
                    <%= form.label :fully_invoiced, "Fully invoiced" %>
                  </td>
                  <td class="invoice-table-paid">
                    <%= form.check_box :fully_invoiced %>
                  </td>
                  <td class="invoice-table-buttons">
                    <%= link_to_add_association 'Add', form, :invoices, 
                      'data-association-insertion-node': ".invoice-fields",
                      'data-association-insertion-method': "append",
                      class: 'btn btn-sm btn-outline-primary'
                     %>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="actions container-fluid my-2">
    <div class="row">
      <div class="col"></div>
      <div class="col-3">
        <div class="row align-items-center">
          <div class="col-5">
            <div class="row">
              <div class="col-1">
                <%= form.check_box :cancelled %>
              </div>
              <div class="col">
                <%= form.label :cancelled, "Mark as cancelled" %>
              </div>
            </div>
          </div>
          <%= yield :application_submit_actions %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<datalist id="suburbs">
  <% @suburbs.each do |suburb| %>
    <option value="<%= suburb %>"/>
  <% end %>
</datalist>
<datalist id="clients">
  <% @clients.each do |client| %>
    <option value="<%= client %>"/>
  <% end %>
</datalist>
<datalist id="councils">
  <% @councils.each do |council| %>
    <option value="<%= council %>"/>
  <% end %>
</datalist>
