<%= form_with(model: application, local: true) do |form| %>
  <% if application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
        <% application.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ApplicationType %>
    <%= form.text_field :ApplicationType %>
  </div>

  <div class="field">
    <%= form.label :ReferenceNo %>
    <%= form.text_area :ReferenceNo %>
  </div>

  <div class="field">
    <%= form.label :ConvertedToFrom %>
    <%= form.text_area :ConvertedToFrom %>
  </div>

  <div class="field">
    <%= form.label :DateEntered %>
    <%= form.date_select :DateEntered %>
  </div>

  <div class="field">
    <%= form.label :CouncilID_id %>
    <%= form.text_field :CouncilID_id %>
  </div>

  <div class="field">
    <%= form.label :DANo %>
    <%= form.text_area :DANo %>
  </div>

  <div class="field">
    <%= form.label :ApplicantID_id %>
    <%= form.text_field :ApplicantID_id %>
  </div>

  <div class="field">
    <%= form.label :ApplicantCouncilID_id %>
    <%= form.text_field :ApplicantCouncilID_id %>
  </div>

  <div class="field">
    <%= form.label :OwnerID_id %>
    <%= form.text_field :OwnerID_id %>
  </div>

  <div class="field">
    <%= form.label :OwnerCouncilID_id %>
    <%= form.text_field :OwnerCouncilID_id %>
  </div>

  <div class="field">
    <%= form.label :ClientID_id %>
    <%= form.text_field :ClientID_id %>
  </div>

  <div class="field">
    <%= form.label :ClientCouncilID_id %>
    <%= form.text_field :ClientCouncilID_id %>
  </div>

  <div class="field">
    <%= form.label :Description %>
    <%= form.text_area :Description %>
  </div>

  <div class="field">
    <%= form.label :Cancelled %>
    <%= form.check_box :Cancelled %>
  </div>

  <div class="field">
    <%= form.label :StreetNo %>
    <%= form.text_area :StreetNo %>
  </div>

  <div class="field">
    <%= form.label :LotNo %>
    <%= form.text_area :LotNo %>
  </div>

  <div class="field">
    <%= form.label :StreetName %>
    <%= form.text_area :StreetName %>
  </div>

  <div class="field">
    <%= form.label :SuburbID_id %>
    <%= form.text_field :SuburbID_id %>
  </div>

  <div class="field">
    <%= form.label :Section93A %>
    <%= form.date_select :Section93A %>
  </div>

  <div class="field">
    <%= form.label :ElectronicLodgement %>
    <%= form.check_box :ElectronicLodgement %>
  </div>

  <div class="field">
    <%= form.label :HardCopy %>
    <%= form.check_box :HardCopy %>
  </div>

  <div class="field">
    <%= form.label :JobTypeAdministration %>
    <%= form.text_area :JobTypeAdministration %>
  </div>

  <div class="field">
    <%= form.label :QuoteAcceptedDate %>
    <%= form.date_select :QuoteAcceptedDate %>
  </div>

  <div class="field">
    <%= form.label :AdministrationNotes %>
    <%= form.text_area :AdministrationNotes %>
  </div>

  <div class="field">
    <%= form.label :FeeAmount %>
    <%= form.text_field :FeeAmount %>
  </div>

  <div class="field">
    <%= form.label :BuildingSurveyor %>
    <%= form.text_area :BuildingSurveyor %>
  </div>

  <div class="field">
    <%= form.label :StructuralEngineer %>
    <%= form.text_area :StructuralEngineer %>
  </div>

  <div class="field">
    <%= form.label :RiskRating %>
    <%= form.text_area :RiskRating %>
  </div>

  <div class="field">
    <%= form.label :AssesmentCommenced %>
    <%= form.date_select :AssesmentCommenced %>
  </div>

  <div class="field">
    <%= form.label :RFIIssued %>
    <%= form.date_select :RFIIssued %>
  </div>

  <div class="field">
    <%= form.label :ConsentIssued %>
    <%= form.date_select :ConsentIssued %>
  </div>

  <div class="field">
    <%= form.label :VariationIssued %>
    <%= form.date_select :VariationIssued %>
  </div>

  <div class="field">
    <%= form.label :Staged %>
    <%= form.date_select :Staged %>
  </div>

  <div class="field">
    <%= form.label :COOIssued %>
    <%= form.date_select :COOIssued %>
  </div>

  <div class="field">
    <%= form.label :JobType %>
    <%= form.text_area :JobType %>
  </div>

  <div class="field">
    <%= form.label :Consent %>
    <%= form.text_area :Consent %>
  </div>

  <div class="field">
    <%= form.label :Certifier %>
    <%= form.text_area :Certifier %>
  </div>

  <div class="field">
    <%= form.label :CertificationNotes %>
    <%= form.text_area :CertificationNotes %>
  </div>

  <div class="field">
    <%= form.label :InvoiceTo %>
    <%= form.text_area :InvoiceTo %>
  </div>

  <div class="field">
    <%= form.label :CareOf %>
    <%= form.text_area :CareOf %>
  </div>

  <div class="field">
    <%= form.label :InvoiceToID_id %>
    <%= form.text_field :InvoiceToID_id %>
  </div>

  <div class="field">
    <%= form.label :CareOfID_id %>
    <%= form.text_field :CareOfID_id %>
  </div>

  <div class="field">
    <%= form.label :InvoiceEmail %>
    <%= form.text_area :InvoiceEmail %>
  </div>

  <div class="field">
    <%= form.label :Attention %>
    <%= form.text_area :Attention %>
  </div>

  <div class="field">
    <%= form.label :PurchaseOrderNo %>
    <%= form.text_area :PurchaseOrderNo %>
  </div>

  <div class="field">
    <%= form.label :FullyInvoiced %>
    <%= form.check_box :FullyInvoiced %>
  </div>

  <div class="field">
    <%= form.label :InvoiceDebtorNotes %>
    <%= form.text_area :InvoiceDebtorNotes %>
  </div>

  <div class="field">
    <%= form.label :ApplicantEmail %>
    <%= form.text_area :ApplicantEmail %>
  </div>

  <div class="field">
    <%= form.label :SortPriorityGen %>
    <%= form.number_field :SortPriorityGen %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
