<%= form_with model: application, local: true, builder: ApplicationHelper::BootstrapSmallFormBuilder, html: { autocomplete: "off" } do |form| %>
  <% if application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(application.errors.count, "error") %> prohibited this application from being saved:</h2>
      <ul>
        <% application.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container-fluid">
    <div class="row border">
      <div class="row text-center">
        <h4>Administration</h4>
      </div>
      <div class="row" id="edit-administration">
        <div class="col-8">
          <div class="row">
            <div class="col-1">
              <div class="field">
                <%= form.label "Type" %>
                <%= form.collection_select :application_type_id, ApplicationType.order(:application_type), :id, :application_type %>
              </div>
            </div>
            <div class="col">
              <div class="field">
                <%= form.label :reference_number, "Reference no." %>
                <%= form.text_field :reference_number %>
              </div>
            </div>
            <div class="col">
              <div class="field">
                <%= form.label :converted_to_from, "Converted to/from" %>
                <%= form.text_field :converted_to_from %>
              </div>
            </div>
            <div class="col">
              <div class="field">
                <%= form.label :created_at %>
                <%= form.date_field :created_at %>
              </div>
            </div>
            <div class="col">
              <div class="field">
                <%= form.label :council %>
                <%= form.text_field :council_name, list: "councils" %>
              </div>
            </div>
            <div class="col">
              <div class="field">
                <%= form.label :development_application_number, "DA No." %>
                <%= form.text_field :development_application_number%>
              </div>
            </div>
          </div>
          <div class="row h-50">
            <div class="col-8">
              <div class="row">
                <div class="col">
                  <div class="field">
                    <%= form.label :applicant_name %>
                    <%= form.text_field :applicant_name, list: "clients" %>
                  </div>
                </div>
                <div class="col">
                  <div class="field">
                    <%= form.label :applicant_council_id %>
                    <%= form.text_field :applicant_council_id %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="field">
                    <%= form.label :owner_name %>
                    <%= form.text_field :owner_name, list: "clients" %>
                  </div>
                </div>
                <div class="col">
                  <div class="field">
                    <%= form.label :owner_council_id %>
                    <%= form.text_field :owner_council_id %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="field">
                    <%= form.label :client_name %>
                    <%= form.text_field :client_name, list: "clients" %>
                  </div>
                </div>
                <div class="col">
                  <div class="field">
                    <%= form.label :client_council_id %>
                    <%= form.text_field :client_council_id %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="field">
                  <%= form.label :description %>
                  <%= form.text_area :description %>
                </div>
              </div>
              <div class="row">
                <div class="field">
                  <%= form.label :administration_notes %>
                  <%= form.text_area :administration_notes %>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="field">
                <%= form.label :lot_number %>
                <%= form.text_field :lot_number %>
              </div>
            </div>
            <div class="col">
              <div class="field">
                <%= form.label :street_number %>
                <%= form.text_field :street_number %>
              </div>
            </div>
            <div class="col">
              <div class="field">
                <%= form.label :street_name %>
                <%= form.text_field :street_name %>
              </div>
            </div>
            <div class="col">
              <div class="field">
                <%= form.label :suburb_display_name %>
                <%= form.text_field :suburb_display_name, list: "suburbs", class: "list-option-required" %>
              </div>
            </div>
            <div class="col">
              <div class="field">
                <label>Fee amount ($)</label>
                <%= form.text_field :fee_amount, type: "number", min: "1", step: "any" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="field">
                <%= form.label :section_93A %>
                <%= form.date_field :section_93A %>
              </div>
            </div>
            <div class="col">
              <div class="field">
                <%= form.label :electronic_lodgement %>
                <%= form.check_box :electronic_lodgement %>
              </div>
            </div>
            <div class="col">
              <div class="field">
                <%= form.label :hard_copy %>
                <%= form.check_box :hard_copy %>
              </div>
            </div>
            <div class="col">
              <div class="field">
                <%= form.label :job_type %>
                <%= form.select :job_type, Application::JOB_TYPE_ADMINISTRATION, prompt: true %>
              </div>
            </div>
            <div class="col">
              <div class="field">
                <%= form.label :applicant_email %>
                <%= form.text_field :applicant_email, type: "email" %>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row h-550">
            Additional Information:
            <ul>
              <%= form.fields_for :application_additional_informations do |info_form| %>
                <li>
                  <%= info_form.label :info_date %>
                  <%= info_form.text_field :info_date %>
                  <%= info_form.label :info_text %>
                  <%= info_form.text_field :info_text %>
                  <%= info_form.check_box :_destroy %>
                </li>
              <% end %>
              <%= form.fields_for :application_additional_informations, application.application_additional_informations.build do |info_fields| %>
                <li>
                  <%= info_fields.label :info_date %>
                  <%= info_fields.text_field :info_date %>
                  <%= info_fields.label :info_text %>
                  <%= info_fields.text_field :info_text %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="row">
            Uploaded:
            <ul>
              <%= form.fields_for :application_uploads do |uploads_form| %>
                <li>
                  <%= uploads_form.label :uploaded_date %>
                  <%= uploads_form.text_field :uploaded_date %>
                  <%= uploads_form.label :uploaded_text %>
                  <%= uploads_form.text_field :uploaded_text %>
                  <%= uploads_form.check_box :_destroy %>
                </li>
              <% end %>
              <%= form.fields_for :application_uploads, application.application_uploads.build do |uploads_fields| %>
                <li>
                  <%= uploads_fields.label :uploaded_date %>
                  <%= uploads_fields.text_field :uploaded_date %>
                  <%= uploads_fields.label :uploaded_text %>
                  <%= uploads_fields.text_field :uploaded_text %>
                  <%= uploads_fields.check_box :_destroy %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5 border">
        <div class="row text-center">
          <h4>Certification</h4>
        </div>
        <div class="row">
          <div class="col">
            <div class="field">
              <%= form.label :building_surveyor %>
              <%= form.select :building_surveyor, Application::BUILDING_SURVEYOR, prompt: true %>
            </div>
          </div>
          <div class="col">
            <div class="field">
              <%= form.label :structural_engineer %>
              <%= form.select :structural_engineer, Application::STRUCTURAL_ENGINEER, prompt: true %>
            </div>
          </div>
          <div class="col">
            <div class="field">
              <%= form.label :risk_rating %>
              <%= form.select :risk_rating, Application::RISK_RATING, prompt: true %>
            </div>
          </div>
          <div class="col">
            <div class="field">
              <%= form.label :assesment_commenced %>
              <%= form.date_field :assesment_commenced %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="row">
              <div class="col">
                <div class="field">
                  <%= form.label :request_for_information_issued %>
                  <%= form.date_field :request_for_information_issued %>
                </div>
              </div>
              <div class="col">
                <div class="field">
                  <%= form.label :consent_issued %>
                  <%= form.date_field :consent_issued %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="field">
                  <%= form.label :variation_issued %>
                  <%= form.date_field :variation_issued %>
                </div>
              </div>
              <div class="col">
                <div class="field">
                  <%= form.label :coo_issued %>
                  <%= form.date_field :coo_issued %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <h6>Performance Indicators</h6>
          </div>
          <div class="col-3">
            <div class="field">
              <%= form.label :job_type %>
              <%= form.select :job_type, Application::JOB_TYPE, prompt: true %>
            </div>
          </div>
          <div class="col-3">
            <div class="field">
              <%= form.label :consent %>
              <%= form.select :consent, Application::CONSENT, prompt: true %>
            </div>
          </div>
          <div class="col-3">
            <div class="field">
              <%= form.label :certifier %>
              <%= form.select :certifier, Application::CERTIFIER, prompt: true %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="field">
              <%= form.label :certification_notes %>
              <%= form.text_area :certification_notes %>
            </div>
          </div>
        </div>
      </div>
      <div class="col border">
        <div class="row text-center">
          <h4>Invoicing</h4>
        </div>
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="field">
                <%= form.label :invoice_to %>
                <%= form.text_field :invoice_to %>
              </div>
            </div>
            <div class="row">
              <div class="field">
                <%= form.label :care_of %>
                <%= form.text_field :care_of %>
              </div>
            </div>
            <div class="row">
              <div class="field">
                <%= form.label :invoice_email %>
                <%= form.text_field :invoice_email %>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="field">
                  <%= form.label :attention %>
                  <%= form.text_field :attention %>
                </div>
              </div>
              <div class="col">
                <div class="field">
                  <%= form.label :purchase_order_number, "Purchase No."%>
                  <%= form.text_field :purchase_order_number %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="field">
                <%= form.label :invoice_debtor_notes %>
                <%= form.text_area :invoice_debtor_notes %>
              </div>
            </div>
          </div>
          <div class="col-9">
            <table class="table table-sm mb-0" style="table-layout: fixed">
              <thead>
                <tr>
                  <td class="invoice-table-date">Date</td>
                  <td>Stage</td>
                  <td>KD Fee</td>
                  <td>Ins. levy</td>
                  <td>GST</td>
                  <td>DAC</td>
                  <td>Lodgement</td>
                  <td class="invoice-table-invoice-number">Invoice no.</td>
                  <td class="invoice-table-paid">Paid</td>
                  <td class="invoice-table-buttons"></td>
                </tr>
              </thead>
            </table>
            <div style="max-height: 220px; overflow:overlay">
              <table class="table table-sm mb-0" style="table-layout: fixed">
                <tbody class="invoice_fields">
                  <%= form.fields_for :invoices do |invoices_form| %>
                    <%= render 'invoice', f: invoices_form %>
                  <% end %>
                </tbody>
              </table>
            </div>
            <table class="table table-sm mb-0" style="table-layout: fixed">
              <tfoot class="invoice-footer">
                <tr>
                  <td class="invoice-table-date">Totals</td>
                  <td></td>
                  <td id="fee-total"></td>
                  <td id="insurance-levy-total"></td>
                  <td id="gst-total"></td>
                  <td id="dac-total"></td>
                  <td id="lodgement-total"></td>
                  <td class="invoice-table-invoice-number"></td>
                  <td class="invoice-table-paid"></td>
                  <td class="invoice-table-buttons">
                    <%= button_to_add_row(form, :invoices, class: 'btn btn-sm btn-primary') %>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="field">
        <%= form.check_box :cancelled %>
        <%= form.label :cancelled %>
      </div>
      <div class="field">
        <%= form.check_box :fully_invoiced %>
        <%= form.label :fully_invoiced %>
      </div>
      <%= form.submit %>
    </div>
  </div>
<% end %>
<datalist id="suburbs">
  <% @suburbs.each do |suburb| %>
    <option value="<%= suburb %>">
    <% end %>
  </datalist>
  <datalist id="clients">
    <% @clients.each do |client| %>
      <option value="<%= client %>">
      <% end %>
    </datalist>
    <datalist id="councils">
      <% @councils.each do |council| %>
        <option value="<%= council %>">
        <% end %>
      </datalist>
      <%= javascript_pack_tag 'applications_edit_page' %>
