<tr>
  <td class="invoice-table-date"><%= f.date_field :invoice_date %></td>
  <td><%= f.text_field :stage %></td>
  <td class="invoice-fee-cell"><%= f.text_field :fee, type: "number", min: "0", step: "any"  %></td>
  <td class="invoice-insurance-levy-cell"><%= f.text_field :insurance_levy, type: "number", min: "0", step: "any"  %></td>
  <td class="invoice-gst-cell"><%= f.text_field :gst, type: "number", min: "0", step: "any", readonly: true %></td>
  <td class="invoice-dac-cell"><%= f.text_field :dac, type: "number", min: "0", step: "any"  %></td>
  <td class="invoice-lodgement-cell"><%= f.text_field :lodgement, type: "number", min: "0", step: "any"  %></td>
  <td class="invoice-table-invoice-number"><%= f.text_field :invoice_number %></td>
  <td class="invoice-table-paid"><%= f.check_box :paid %></td>
  <td class="invoice-table-buttons">
    <%= f.check_box :_destroy, class: "visually-hidden"%>
    <a href="#" class="remove_record btn btn-sm btn-danger">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
      </svg>
    </a>
  </td>
</tr>
