<% content_for :nav_buttons do %>
  <%= button_to  applications_path({format: :csv}), params: params.permit(:type, :start_date, :end_date, :search_text), class:"btn btn-sm btn-outline-primary mx-1 text-nowrap", method: :get do %>
    Download as Spreadsheet
  <% end %>
<% end %>
<div class="container-fluid">
  <div class="row justify-content-start">
    <div class="col-xxl-10">
      <div class="input-group" onkeypress="if(event.keyCode == 13){search()}">
        <select class="form-select" id="select_type" style="max-width: 12%">
          <option value="" selected>Select Type:</option>
          <% @types.each do |type| %>
            <option value=<%=type%>><%=type%></option>
          <% end %>
        </select>
        <span class="input-group-text">From</span>
        <input class="form-control" type="date" id="start_date" min="1970-01-01" max="2000-13-13"=>
        <span class="input-group-text">To</span>
        <input class="form-control" type="date" id="end_date" min="1970-01-01" max="2000-13-13"=>
        <span class="input-group-text">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </span>
        <input class="form-control w-25" id="search_text" type="text"=>
        <button class="btn btn-primary" type="button" onclick="search()">Search</button>
        <button class="btn btn-outline-primary" type="button" data-bs-container="body" data-bs-html="true" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="
<h6>Advanced Searching</h6>
Find applications that contain at least one of the two words:
<pre>flinders university</pre>

Find applications that must contain both words:
<pre>+flinders +university</pre>

Find applications that contain the word &quot;university&quot; but not &quot;flinders&quot;:
<pre>+university -flinders</pre>

Find applications that have reference numbers in the PC61XXX range, eg PC612584, PC61293, PC61773...
<pre>PC61*</pre>

Find applications that contain the exact phrase &quot;Format Homes&quot;:
<pre>&quot;Format Homes&quot;</pre>
" >
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
          </svg>
        </button>
        <button class="btn btn-outline-secondary" type="button" onclick="clearSearchParams()">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
          </svg>
        </button>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="d-flex justify-content-end">
        <%= button_to 'New Application', new_application_path, class:"btn btn-primary text-nowrap" %>
      </div>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Reference No</th>
        <th>Location</th>
        <th>Suburb</th>
        <th>Description</th>
        <th>Contact</th>
        <th>Owner</th>
        <th>Applicant</th>
        <th>Council</th>
        <th>DateCreated</th>
        <th>DA No</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @applications.each do |application| %>
        <tr>
          <td><%= application.reference_number %></td>
          <td><%= application.street_name %></td>
          <td><%= application.suburb.try(:display_name) %></td>
          <td><%= application.description %></td>
          <td><%= application.client.try(:client_name) %></td>
          <td><%= application.owner.try(:client_name) %></td>
          <td><%= application.applicant.try(:client_name) %></td>
          <td><%= application.council.try(:name)%></td>
          <td><%= application.created_at %></td>
          <td><%= application.development_application_number %></td>
          <td><%= link_to 'Show', application %></td>
          <td><%= link_to 'Edit', edit_application_path(application) %></td>
          <td><%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%== pagy_nav(@pagy) %>
  <br>
</div>
<%= javascript_pack_tag 'applications_index_page' %>
