<% content_for :nav_buttons do %>
  <button
    type="button"
    class="btn btn-sm btn-primary mx-1 text-nowrap"
    data-bs-container="body"
    data-bs-html="true"
    data-bs-custom-class="wider-popover"
    data-bs-trigger="focus"
    data-bs-toggle="popover"
    data-bs-placement="bottom"
    data-bs-content='
      <strong><%= @total_count %></strong> records to download.<br/>
      <% if @total_count > 10000 %>
        <div class="alert alert-warning my-1 p-1" role="alert">
          <strong>⚠ Warning!</strong> This many records may take a while.
        </div>
      <% end %>
      <div class="d-flex justify-content-center">
        <%= button_to applications_path({format: :csv}), 
          class:"btn btn-sm btn-success mt-2 text-nowrap", 
          method: :get,
          params: @params do %>
            Download
        <% end %>
      </div>
    '

  >
    Download as Spreadsheet
  </button>
<% end %>
<%= render "search_bar" %>
<%= render "table" %>
<div class="d-flex justify-content-between align-items-start pt-2">
  <span>
    <%= @total_count %>
    results available. Showing
    <%= @number_results_per_page %>
    results per page.
  </span>
  <span>
    <%== pagy_bootstrap_nav(@pagy) %>
  </span>
</div>
