<% content_for :title, 'New application' %>

<% content_for :submit_actions do %>
  <div class="mx-2">
    <%= button_tag 'Save', type: 'submit', class: 'btn btn-success' %>
  </div>
  <div class="ms-2">
    <%= link_to 'Exit',
                session[:search_results],
                class: 'btn btn-outline-secondary',
                data: {
                  'unsaved-changes-target': 'exitButton',
                  action: 'click->unsaved-changes#onExitClick'
                } %>
  </div>
<% end %>

<%= render 'form', application: @application %>

<datalist id="clients">
  <% @clients.each do |client| %>
    <option value="<%= client %>" />
  <% end %>
  <option value="" />
</datalist>

<datalist id="councils">
  <% @councils.each do |council| %>
    <option value="<%= council %>" />
  <% end %>
  <option value="" />
</datalist>

<datalist id="suburbs">
  <% @suburbs.each do |suburb| %>
    <option value="<%= suburb %>" />
  <% end %>
  <option value="" />
</datalist>
