<p id="notice"><%= notice %></p>

<p>
  <strong>Applicationtype:</strong>
  <%= @application.ApplicationType %>
</p>

<p>
  <strong>Referenceno:</strong>
  <%= @application.ReferenceNo %>
</p>

<p>
  <strong>Convertedtofrom:</strong>
  <%= @application.ConvertedToFrom %>
</p>

<p>
  <strong>Dateentered:</strong>
  <%= @application.DateEntered %>
</p>

<p>
  <strong>Councilid:</strong>
  <%= @application.CouncilID_id %>
</p>

<p>
  <strong>Dano:</strong>
  <%= @application.DANo %>
</p>

<p>
  <strong>Applicantid:</strong>
  <%= @application.ApplicantID_id %>
</p>

<p>
  <strong>Applicantcouncilid:</strong>
  <%= @application.ApplicantCouncilID_id %>
</p>

<p>
  <strong>Ownerid:</strong>
  <%= @application.OwnerID_id %>
</p>

<p>
  <strong>Ownercouncilid:</strong>
  <%= @application.OwnerCouncilID_id %>
</p>

<p>
  <strong>Clientid:</strong>
  <%= @application.ClientID_id %>
</p>

<p>
  <strong>Clientcouncilid:</strong>
  <%= @application.ClientCouncilID_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @application.Description %>
</p>

<p>
  <strong>Cancelled:</strong>
  <%= @application.Cancelled %>
</p>

<p>
  <strong>Streetno:</strong>
  <%= @application.StreetNo %>
</p>

<p>
  <strong>Lotno:</strong>
  <%= @application.LotNo %>
</p>

<p>
  <strong>Streetname:</strong>
  <%= @application.StreetName %>
</p>

<p>
  <strong>Suburbid:</strong>
  <%= @application.SuburbID_id %>
</p>

<p>
  <strong>Section93a:</strong>
  <%= @application.Section93A %>
</p>

<p>
  <strong>Electroniclodgement:</strong>
  <%= @application.ElectronicLodgement %>
</p>

<p>
  <strong>Hardcopy:</strong>
  <%= @application.HardCopy %>
</p>

<p>
  <strong>Jobtypeadministration:</strong>
  <%= @application.JobTypeAdministration %>
</p>

<p>
  <strong>Quoteaccepteddate:</strong>
  <%= @application.QuoteAcceptedDate %>
</p>

<p>
  <strong>Administrationnotes:</strong>
  <%= @application.AdministrationNotes %>
</p>

<p>
  <strong>Feeamount:</strong>
  <%= @application.FeeAmount %>
</p>

<p>
  <strong>Buildingsurveyor:</strong>
  <%= @application.BuildingSurveyor %>
</p>

<p>
  <strong>Structuralengineer:</strong>
  <%= @application.StructuralEngineer %>
</p>

<p>
  <strong>Riskrating:</strong>
  <%= @application.RiskRating %>
</p>

<p>
  <strong>Assesmentcommenced:</strong>
  <%= @application.AssesmentCommenced %>
</p>

<p>
  <strong>Rfiissued:</strong>
  <%= @application.RFIIssued %>
</p>

<p>
  <strong>Consentissued:</strong>
  <%= @application.ConsentIssued %>
</p>

<p>
  <strong>Variationissued:</strong>
  <%= @application.VariationIssued %>
</p>

<p>
  <strong>Staged:</strong>
  <%= @application.Staged %>
</p>

<p>
  <strong>Cooissued:</strong>
  <%= @application.COOIssued %>
</p>

<p>
  <strong>Jobtype:</strong>
  <%= @application.JobType %>
</p>

<p>
  <strong>Consent:</strong>
  <%= @application.Consent %>
</p>

<p>
  <strong>Certifier:</strong>
  <%= @application.Certifier %>
</p>

<p>
  <strong>Certificationnotes:</strong>
  <%= @application.CertificationNotes %>
</p>

<p>
  <strong>Invoiceto:</strong>
  <%= @application.InvoiceTo %>
</p>

<p>
  <strong>Careof:</strong>
  <%= @application.CareOf %>
</p>

<p>
  <strong>Invoicetoid:</strong>
  <%= @application.InvoiceToID_id %>
</p>

<p>
  <strong>Careofid:</strong>
  <%= @application.CareOfID_id %>
</p>

<p>
  <strong>Invoiceemail:</strong>
  <%= @application.InvoiceEmail %>
</p>

<p>
  <strong>Attention:</strong>
  <%= @application.Attention %>
</p>

<p>
  <strong>Purchaseorderno:</strong>
  <%= @application.PurchaseOrderNo %>
</p>

<p>
  <strong>Fullyinvoiced:</strong>
  <%= @application.FullyInvoiced %>
</p>

<p>
  <strong>Invoicedebtornotes:</strong>
  <%= @application.InvoiceDebtorNotes %>
</p>

<p>
  <strong>Applicantemail:</strong>
  <%= @application.ApplicantEmail %>
</p>

<p>
  <strong>Sortprioritygen:</strong>
  <%= @application.SortPriorityGen %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
