<p id="notice"><%= notice %></p>

<p>
  <strong>Application type:</strong>
  <%= @application.application_type_id %>
</p>

<p>
  <strong>Reference number:</strong>
  <%= @application.reference_number %>
</p>

<p>
  <strong>Converted to from:</strong>
  <%= @application.converted_to_from %>
</p>

<p>
  <strong>Council:</strong>
  <%= @application.council_id %>
</p>

<p>
  <strong>Development application number:</strong>
  <%= @application.development_application_number %>
</p>

<p>
  <strong>Applicant:</strong>
  <%= @application.applicant_id %>
</p>

<p>
  <strong>Applicant council:</strong>
  <%= @application.applicant_council_id %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @application.owner_id %>
</p>

<p>
  <strong>Owner council:</strong>
  <%= @application.owner_council_id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @application.client_id %>
</p>

<p>
  <strong>Client council:</strong>
  <%= @application.client_council_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @application.description %>
</p>

<p>
  <strong>Cancelled:</strong>
  <%= @application.cancelled %>
</p>

<p>
  <strong>Street number:</strong>
  <%= @application.street_number %>
</p>

<p>
  <strong>Lot number:</strong>
  <%= @application.lot_number %>
</p>

<p>
  <strong>Street name:</strong>
  <%= @application.street_name %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @application.suburb_id %>
</p>

<p>
  <strong>Section 93a:</strong>
  <%= @application.section_93A %>
</p>

<p>
  <strong>Electronic lodgement:</strong>
  <%= @application.electronic_lodgement %>
</p>

<p>
  <strong>Hard copy:</strong>
  <%= @application.hard_copy %>
</p>

<p>
  <strong>Job type administration:</strong>
  <%= @application.job_type_administration %>
</p>

<p>
  <strong>Quote accepted date:</strong>
  <%= @application.quote_accepted_date %>
</p>

<p>
  <strong>Administration notes:</strong>
  <%= @application.administration_notes %>
</p>

<p>
  <strong>Fee amount:</strong>
  <%= @application.fee_amount %>
</p>

<p>
  <strong>Building surveyor:</strong>
  <%= @application.building_surveyor %>
</p>

<p>
  <strong>Structural engineer:</strong>
  <%= @application.structural_engineer %>
</p>

<p>
  <strong>Risk rating:</strong>
  <%= @application.risk_rating %>
</p>

<p>
  <strong>Assessment commenced:</strong>
  <%= @application.assessment_commenced %>
</p>

<p>
  <strong>Request for information issued:</strong>
  <%= @application.request_for_information_issued %>
</p>

<p>
  <strong>Consent issued:</strong>
  <%= @application.consent_issued %>
</p>

<p>
  <strong>Variation issued:</strong>
  <%= @application.variation_issued %>
</p>

<p>
  <strong>Staged:</strong>
  <%= @application.staged %>
</p>

<p>
  <strong>Coo issued:</strong>
  <%= @application.coo_issued %>
</p>

<p>
  <strong>Job type:</strong>
  <%= @application.job_type %>
</p>

<p>
  <strong>Consent:</strong>
  <%= @application.consent %>
</p>

<p>
  <strong>Certifier:</strong>
  <%= @application.certifier %>
</p>

<p>
  <strong>Certification notes:</strong>
  <%= @application.certification_notes %>
</p>

<p>
  <strong>Invoice to:</strong>
  <%= @application.invoice_to %>
</p>

<p>
  <strong>Care of:</strong>
  <%= @application.care_of %>
</p>

<p>
  <strong>Invoice email:</strong>
  <%= @application.invoice_email %>
</p>

<p>
  <strong>Attention:</strong>
  <%= @application.attention %>
</p>

<p>
  <strong>Purchase order number:</strong>
  <%= @application.purchase_order_number %>
</p>

<p>
  <strong>Fully invoiced:</strong>
  <%= @application.fully_invoiced %>
</p>

<p>
  <strong>Invoice debtor notes:</strong>
  <%= @application.invoice_debtor_notes %>
</p>

<p>
  <strong>Applicant email:</strong>
  <%= @application.applicant_email %>
</p>

<p>
  <strong>Sort priority gen:</strong>
  <%= @application.sort_priority_gen %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
