<p id="notice"><%= notice %></p>

<h1>Application Uploads</h1>

<table>
  <thead>
    <tr>
      <th>Uploaded date</th>
      <th>Uploaded text</th>
      <th>Application</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @application_uploads.each do |application_upload| %>
      <tr>
        <td><%= application_upload.uploaded_date %></td>
        <td><%= application_upload.uploaded_text %></td>
        <td><%= application_upload.application_id %></td>
        <td><%= link_to 'Show', application_upload %></td>
        <td><%= link_to 'Edit', edit_application_upload_path(application_upload) %></td>
        <td><%= link_to 'Destroy', application_upload, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Application Upload', new_application_upload_path %>
