<h1>New Job</h1>

<%= form_with scope: :job, url: jobs_path, local: true do |form| %>
  <p>
    <%= form.label :reference_number %><br>
    <%= form.text_field :reference_number %>
  </p>
 
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>
