<%= form_with(model: additional_info, local: true) do |form| %>
  <% if additional_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(additional_info.errors.count, "error") %> prohibited this additional_info from being saved:</h2>

      <ul>
        <% additional_info.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :InfoDate %>
    <%= form.date_select :InfoDate %>
  </div>

  <div class="field">
    <%= form.label :InfoText %>
    <%= form.text_area :InfoText %>
  </div>

  <div class="field">
    <%= form.label :ApplicationID_id %>
    <%= form.text_field :ApplicationID_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
