<p id="notice"><%= notice %></p>

<h1>Additional Infos</h1>

<table>
  <thead>
    <tr>
      <th>Infodate</th>
      <th>Infotext</th>
      <th>Applicationid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @additional_infos.each do |additional_info| %>
      <tr>
        <td><%= additional_info.InfoDate %></td>
        <td><%= additional_info.InfoText %></td>
        <td><%= additional_info.ApplicationID_id %></td>
        <td><%= link_to 'Show', additional_info %></td>
        <td><%= link_to 'Edit', edit_additional_info_path(additional_info) %></td>
        <td><%= link_to 'Destroy', additional_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Additional Info', new_additional_info_path %>
