<p id="notice"><%= notice %></p>

<h1>Councils</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Street</th>
      <th>State</th>
      <th>Suburbid</th>
      <th>Postaladdress</th>
      <th>Postalsuburbid</th>
      <th>Phone</th>
      <th>Fax</th>
      <th>Email</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @councils.each do |council| %>
      <tr>
        <td><%= council.Name %></td>
        <td><%= council.City %></td>
        <td><%= council.Street %></td>
        <td><%= council.State %></td>
        <td><%= council.SuburbID_id %></td>
        <td><%= council.PostalAddress %></td>
        <td><%= council.PostalSuburbID_id %></td>
        <td><%= council.Phone %></td>
        <td><%= council.Fax %></td>
        <td><%= council.Email %></td>
        <td><%= council.Notes %></td>
        <td><%= link_to 'Show', council %></td>
        <td><%= link_to 'Edit', edit_council_path(council) %></td>
        <td><%= link_to 'Destroy', council, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Council', new_council_path %>
