<p id="notice"><%= notice %></p>

<h1>Councils</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Street</th>
      <th>State</th>
      <th>Suburb</th>
      <th>Postal address</th>
      <th>Postal suburb</th>
      <th>Phone</th>
      <th>Fax</th>
      <th>Email</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @councils.each do |council| %>
      <tr>
        <td><%= council.name %></td>
        <td><%= council.city %></td>
        <td><%= council.street %></td>
        <td><%= council.state %></td>
        <td><%= council.suburb_id %></td>
        <td><%= council.postal_address %></td>
        <td><%= council.postal_suburb_id %></td>
        <td><%= council.phone %></td>
        <td><%= council.fax %></td>
        <td><%= council.email %></td>
        <td><%= council.notes %></td>
        <td><%= link_to 'Show', council %></td>
        <td><%= link_to 'Edit', edit_council_path(council) %></td>
        <td><%= link_to 'Destroy', council, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Council', new_council_path %>
