<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @council.Name %>
</p>

<p>
  <strong>City:</strong>
  <%= @council.City %>
</p>

<p>
  <strong>Street:</strong>
  <%= @council.Street %>
</p>

<p>
  <strong>State:</strong>
  <%= @council.State %>
</p>

<p>
  <strong>Suburbid:</strong>
  <%= @council.SuburbID_id %>
</p>

<p>
  <strong>Postaladdress:</strong>
  <%= @council.PostalAddress %>
</p>

<p>
  <strong>Postalsuburbid:</strong>
  <%= @council.PostalSuburbID_id %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @council.Phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @council.Fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @council.Email %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @council.Notes %>
</p>

<%= link_to 'Edit', edit_council_path(@council) %> |
<%= link_to 'Back', councils_path %>
