<%= form_with(model: client, local: true, html: {id: "client_form" }) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>
      <ul>
        <% client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :client_type %>
    <%= form.text_area :client_type %>
  </div>
  <div class="field">
    <%= form.label :client_name %>
    <%= form.text_area :client_name %>
  </div>
  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_area :first_name %>
  </div>
  <div class="field">
    <%= form.label :surname %>
    <%= form.text_area :surname %>
  </div>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title %>
  </div>
  <div class="field">
    <%= form.label :initials %>
    <%= form.text_area :initials %>
  </div>
  <div class="field">
    <%= form.label :salutation %>
    <%= form.text_area :salutation %>
  </div>
  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_area :company_name %>
  </div>
  <div class="field">
    <%= form.label :street %>
    <%= form.text_area :street %>
  </div>
  <div class="field">
    <%= form.label :suburb_id %>
    <%= form.text_field :suburb_id %>
  </div>
  <div class="field">
    <%= form.label :postal_address %>
    <%= form.text_area :postal_address %>
  </div>
  <div class="field">
    <%= form.label :postal_suburb_id %>
    <%= form.text_field :postal_suburb_id %>
  </div>
  <div class="field">
    <%= form.label :australian_business_number %>
    <%= form.text_area :australian_business_number %>
  </div>
  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>
  <div class="field">
    <%= form.label :phone %>
    <%= form.text_area :phone %>
  </div>
  <div class="field">
    <%= form.label :mobile_number %>
    <%= form.text_area :mobile_number %>
  </div>
  <div class="field">
    <%= form.label :fax %>
    <%= form.text_area :fax %>
  </div>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_area :email %>
  </div>
  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>
  <div class="field">
    <%= form.label :bad_payer %>
    <%= form.check_box :bad_payer %>
  </div>
  <div class="actions">
    <%= yield :client_submit_actions %>
  </div>
<% end %>
