<%= form_with model: client, local: true, builder: ApplicationHelper::BootstrapSmallFormBuilder, html: { autocomplete: "off", id: "client_form", class: "container" } do |form| %>
  <% if client.errors.any? %>
    <div class="modal fade" id="errorsModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">The client couldn't be saved</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger" role="alert">
              <ul>
                <% client.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="container-fluid" id="client_form_container">
    <div class="row border">
      <div class="row text-center">
        <h4>Client Details</h4>
      </div>
      <div class="row">
        <div class="col">
          <div class="field">
            <%= form.label :client_type, "Type" %>
            <%= form.select :client_type, Client::TYPE, prompt: true %>
          </div>
        </div>
        <div class="col">
          <div class="field">
            <%= form.label :client_name %>
            <%= form.text_field :client_name %>
          </div>
        </div>
        <div class="col"></div>
        <div class="col">
          <div class="field">
            <%= form.label :bad_payer %>
            <%= form.check_box :bad_payer %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="field">
            <%= form.label :first_name %>
            <%= form.text_field :first_name %>
          </div>
        </div>
        <div class="col">
          <div class="field">
            <%= form.label :surname %>
            <%= form.text_field :surname %>
          </div>
        </div>
        <div class="col">
          <div class="field">
            <%= form.label :initials %>
            <%= form.text_field :initials %>
          </div>
        </div>
        <div class="col">
          <div class="field">
            <%= form.label :title %>
            <%= form.text_field :title %>
          </div>
        </div>
        <div class="col">
          <div class="field">
            <%= form.label :salutation %>
            <%= form.text_field :salutation %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="field">
            <%= form.label :company_name, "Company" %>
            <%= form.text_field :company_name %>
          </div>
        </div>
        <div class="col">
          <div class="field">
            <%= form.label :australian_business_number, "ABN" %>
            <%= form.text_field :australian_business_number %>
          </div>
        </div>
        <div class="col">
          <div class="field">
            <%= form.label :state %>
            <%= form.select :state, Suburb::STATE, prompt: true %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="field">
            <%= form.label :phone %>
            <%= form.text_field :phone %>
          </div>
        </div>
        <div class="col">
          <div class="field">
            <%= form.label :fax %>
            <%= form.text_field :fax %>
          </div>
        </div>
        <div class="col">
          <div class="field">
            <%= form.label :mobile_number, "Mobile" %>
            <%= form.text_field :mobile_number %>
          </div>
        </div>
        <div class="col">
          <div class="field">
            <%= form.label :email %>
            <%= form.text_field :email %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col border">
        <div class="row text-center">
          <h4>Street Address</h4>
        </div>
        <div class="row">
          <div class="field">
            <%= form.label :street %>
            <%= form.text_field :street %>
          </div>
        </div>
        <div class="row">
          <div class="field">
            <%= form.label :suburb_display_name, "Suburb" %>
            <%= form.text_field :suburb_display_name, list: "suburbs", class: "list-option-required" %>
          </div>
        </div>
      </div>
      <div class="col border">
        <div class="row text-center">
          <h4>Postal Address</h4>
        </div>
        <div class="row">
          <div class="field">
            <%= form.label :postal_address %>
            <%= form.text_field :postal_address %>
          </div>
        </div>
        <div class="row">
          <div class="field">
            <%= form.label :postal_suburb_display_name, "Postal Suburb" %>
            <%= form.text_field :postal_suburb_display_name, list: "suburbs", class: "list-option-required" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row border">
      <div class="col">
        <div class="field">
          <%= form.label :notes %>
          <%= form.text_area :notes, rows: 6 %>
        </div>
      </div>
    </div>
  </div>
  <div class="actions container-fluid my-2">
    <div class="row">
      <div class="col"></div>
      <div class="col-2">
        <div class="row">
          <%= yield :client_submit_actions %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<datalist id="suburbs">
  <% @suburbs.each do |suburb| %>
    <option value="<%= suburb %>"/>
  <% end %>
</datalist>
