<p id="notice"><%= notice %></p>

<p>
  <strong>Clienttype:</strong>
  <%= @client.ClientType %>
</p>

<p>
  <strong>Clientname:</strong>
  <%= @client.ClientName %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @client.FirstName %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @client.Surname %>
</p>

<p>
  <strong>Title:</strong>
  <%= @client.Title %>
</p>

<p>
  <strong>Initials:</strong>
  <%= @client.Initials %>
</p>

<p>
  <strong>Salutation:</strong>
  <%= @client.Salutation %>
</p>

<p>
  <strong>Companyname:</strong>
  <%= @client.CompanyName %>
</p>

<p>
  <strong>Street:</strong>
  <%= @client.Street %>
</p>

<p>
  <strong>Suburbid:</strong>
  <%= @client.SuburbID %>
</p>

<p>
  <strong>Postaladdress:</strong>
  <%= @client.PostalAddress %>
</p>

<p>
  <strong>Postalsuburbid:</strong>
  <%= @client.PostalSuburbID %>
</p>

<p>
  <strong>Abn:</strong>
  <%= @client.ABN %>
</p>

<p>
  <strong>State:</strong>
  <%= @client.State %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.Phone %>
</p>

<p>
  <strong>Mobileno:</strong>
  <%= @client.MobileNo %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @client.Fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.Email %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @client.Notes %>
</p>

<p>
  <strong>Badpayer:</strong>
  <%= @client.BadPayer %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
