<p id="notice"><%= notice %></p>

<p>
  <strong>Client type:</strong>
  <%= @client.client_type %>
</p>

<p>
  <strong>Client name:</strong>
  <%= @client.client_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @client.first_name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @client.surname %>
</p>

<p>
  <strong>Title:</strong>
  <%= @client.title %>
</p>

<p>
  <strong>Initials:</strong>
  <%= @client.initials %>
</p>

<p>
  <strong>Salutation:</strong>
  <%= @client.salutation %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @client.company_name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @client.street %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @client.suburb_id %>
</p>

<p>
  <strong>Postal address:</strong>
  <%= @client.postal_address %>
</p>

<p>
  <strong>Postal suburb:</strong>
  <%= @client.postal_suburb_id %>
</p>

<p>
  <strong>Australian business number:</strong>
  <%= @client.australian_business_number %>
</p>

<p>
  <strong>State:</strong>
  <%= @client.state %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @client.mobile_number %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @client.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @client.notes %>
</p>

<p>
  <strong>Bad payer:</strong>
  <%= @client.bad_payer %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
