<nav>
  <div class="nav nav-tabs" id="settings-tab" role="tablist">
    <button
      class="nav-link active"
      id="application-types-tab"
      type="button"
      role="tab"
      aria-selected="true">Application Types</button>
    <a class="nav-link" href="<%= settings_suburbs_path %>" role="tab">Suburbs</a>
  </div>
</nav>
<div
  class="tab-content bg-white border border-1 rounded-bottom-1"
  style="border-top: none !important">
  <div
    class="tab-pane show active"
    id="application-types-tab-pane"
    role="tabpanel"
    aria-labelledby="application-types-tab">
    <div class="p-3">
      <%= form_for :application_type, url: settings_application_types_path, class: 'h-100',
                                      html: { method: :patch, id: 'application_type_form' } do %>

        <div class="d-flex flex-column h-100">
          <div class="flex-grow-1">
            <div class="row no-gutters">
              <div class="col">
                <div class="card" style="width: fit-content; overflow: auto">
                  <table
                    class="table nested-table w-100 mb-2"
                    aria-label="Settings for the last used reference numbers">
                    <thead>
                      <tr>
                        <th class="fw-normal small">
                          <div class="p-2">
                            Application type
                          </div>
                        </th>
                        <th class="fw-normal small">
                          <div class="p-2">
                            Last used number
                          </div>
                        </th>
                        <th class="fw-normal small">
                          <div class="p-2">
                            Priority
                            <span
                              data-bs-toggle="tooltip"
                              data-bs-placement="right"
                              title="Lower numbers display first in dropdowns and tables.">
                              <i class="bi bi-question-circle" style="font-size: 1rem;"></i>
                            </span>
                          </div>
                        </th>
                        <th class="fw-normal small text-center" style="min-width: 100px">
                          <div class="p-2">
                            Active
                            <span
                              data-bs-toggle="tooltip"
                              data-bs-placement="right"
                              title="Inactive types will not be available for new applications.">
                              <i class="bi bi-question-circle" style="font-size: 1rem;"></i>
                            </span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @application_types.each do |application_type| %>
                        <%= fields_for 'application_type_attributes[]', application_type do |application_type_fields| %>
                          <tr>
                            <td>
                              <%= application_type_fields.text_field :application_type,
                                                                     disabled: 'true',
                                                                     class: 'form-control form-control-sm' %>
                            </td>
                            <td>
                              <%= application_type_fields.text_field :last_used,
                                                                     type: 'number',
                                                                     step: '1',
                                                                     class: 'form-control form-control-sm' %>
                            </td>
                            <td>
                              <%= application_type_fields.text_field :display_priority,
                                                                     type: 'number',
                                                                     step: '1',
                                                                     class: 'form-control form-control-sm' %>
                            </td>
                            <td class="text-center">
                              <%= application_type_fields.checkbox :active, class: 'form-check-input' %>
                            </td>
                          </tr>
                        <% end %>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col">
              </div>
            </div>
          </div>
          <div class="w-100 border-top pt-3 d-flex justify-content-end">
            <input
              type="submit"
              value="Save"
              form="application_type_form"
              class="btn btn-success mx-2">
            <%= link_to 'Exit',
                        session[:search_results] || root_path,
                        class: 'btn btn-outline-secondary ms-2' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
