<p id="notice"><%= notice %></p>

<p>
  <strong>Stagedate:</strong>
  <%= @stage.StageDate %>
</p>

<p>
  <strong>Stagetext:</strong>
  <%= @stage.StageText %>
</p>

<p>
  <strong>Applicationid:</strong>
  <%= @stage.ApplicationID_id %>
</p>

<%= link_to 'Edit', edit_stage_path(@stage) %> |
<%= link_to 'Back', stages_path %>
