<div class="row">
  <div class="col-7">
    <div class="row">

      <div class="col-2">
        <!-- Application Type -->
        <%= form.label :application_type_id, 'Type' %>
        <%= form.collection_select :application_type_id,
                                   @application_types,
                                   :id,
                                   :application_type,
                                   { prompt: 'Select' },
                                   {
                                     required: true,
                                     'data-action':
                                       'reference-number#onApplicationTypeChange',
                                     'data-reference-number-target': 'applicationType',
                                     'data-reference-number-type-details-param':
                                       @application_types.to_json
                                   } %>
      </div>

      <div class="col">
        <!-- Reference Number -->
        <%= form.label :reference_number, 'Reference no.' %>
        <%= form.text_field :reference_number,
                            {
                              required: true,
                              'data-reference-number-target': 'referenceNumber'
                            } %>
      </div>

      <div class="col">
        <!-- Converted to/from -->
        <%= form.label :converted_to_from, 'Converted to/from' %>
        <div class="input-group">
          <%= form.text_field :converted_to_from,
                              { 'data-reference-number-target': 'convertedToFrom' } %>
          <% if @converted_application.present? %>
            <%= link_to 'Go to',
                        edit_application_path(@converted_application),
                        class: 'btn btn-sm btn-outline-primary' %>
          <% end %>
        </div>
      </div>

      <div class="col">
        <!-- Date Entered -->
        <%= form.label :created_at, 'Date entered' %>
        <%= form.date_field :created_at %>
      </div>
    </div>
    <div class="row">

      <div class="col">
        <!-- Applicant -->
        <%= form.label :applicant_name, 'Applicant' %>
        <%= form.text_field :applicant_name, list: 'clients' %>
      </div>

      <div class="col">
        <!-- Council -->
        <%= form.label :council %>
        <%= form.text_field :council_name, list: 'councils' %>
      </div>

      <div class="col">
        <!-- DA Number -->
        <%= form.label :development_application_number, 'DA number' %>
        <%= form.text_field :development_application_number %>
      </div>
    </div>
    <div class="row">

      <div class="col">
        <!-- Owner -->
        <%= form.label :owner_name, 'Owner' %>
        <%= form.text_field :owner_name, list: 'clients' %>
      </div>

      <div class="col">
        <!-- Number of Storeys -->
        <%= form.label :number_of_storeys %>
        <%= form.text_field :number_of_storeys,
                            type: 'number',
                            min: '0',
                            max: '99',
                            step: '1' %>
      </div>

      <div class="col">
        <!-- Construction Value -->
        <%= form.label :construction_value, 'Construction value ($)' %>
        <%= form.text_field :construction_value,
                            type: 'number',
                            min: '0',
                            max: '1000000000',
                            step: 'any' %>
      </div>
    </div>
    <div class="row">

      <div class="col">
        <!-- Contact -->
        <%= form.label :contact_name, 'Contact' %>
        <%= form.text_field :contact_name, list: 'clients' %>
      </div>

      <div class="col">
        <!-- Fee amount -->
        <%= form.label :fee_amount, 'Fee amount ($)' %>
        <%= form.text_field :fee_amount, type: 'number', min: '1', step: 'any' %>
      </div>

      <div class="col">
        <!-- Applicant Email -->
        <%= form.label :applicant_email %>
        <%= form.text_field :applicant_email %>
      </div>
    </div>
    <div class="row">

      <div class="col-2">
        <!-- Lot number -->
        <%= form.label :lot_number %>
        <%= form.text_field :lot_number %>
      </div>

      <div class="col-2">
        <!-- Street number -->
        <%= form.label :street_number %>
        <%= form.text_field :street_number %>
      </div>

      <div class="col">
        <!-- Street name -->
        <%= form.label :street_name %>
        <%= form.text_field :street_name %>
      </div>

      <div class="col">
        <!-- Suburb -->
        <%= form.label :suburb_display_name, 'Suburb' %>
        <%= form.text_field :suburb_display_name,
                            list: 'suburbs',
                            data: {
                              controller: 'validateable-datalist',
                              action: 'change->validateable-datalist#onChange'
                            } %>
      </div>
    </div>
    <div class="row">

      <div class="col-2">
        <!-- Staged consent -->
        <%= form.label :staged_consent, 'Staged consent?', class: 'w-100' %>
        <%= form.check_box :staged_consent %>
      </div>

      <div class="col-2">
        <!-- Engagement form -->
        <%= form.label :engagement_form, 'Engagement form?', class: 'w-100' %>
        <%= form.check_box :engagement_form %>
      </div>

      <div class="col">
        <!-- Job type administration -->
        <%= form.label :job_type_administration %>
        <%= form.select :job_type_administration, Application::JOB_TYPE_ADMINISTRATION %>
      </div>

      <div class="col">
        <!-- Quote accepted date -->
        <%= form.label :quote_accepted_date %>
        <%= form.date_field :quote_accepted_date %>
      </div>

    </div>
  </div>
  <div class="col-5 d-flex flex-column" style="max-height: 23em">

    <div class="h-50 mb-3 card" style="overflow: auto">
      <!-- Additional information -->
      <table class="table nested-table">
        <thead style="position: sticky; top: 0; z-index: 1;">
          <tr>
            <th class="fw-normal small" style="width: 14em">
              <div class="ps-2 pb-2">Additional information</div>
            </th>
            <th></th>
            <th class="text-center" style="width:3em">
              <%= link_to_add_association 'Add',
                                          form,
                                          :application_additional_informations,
                                          'data-association-insertion-node': '.additional-information-fields',
                                          'data-association-insertion-method': 'append',
                                          partial: 'applications/tables/additional_information_fields',
                                          class: 'btn btn-sm btn-outline-primary m-2' %>
            </th>
          </tr>
        </thead>
        <tbody class="additional-information-fields">
          <%= form.fields_for :application_additional_informations do |subform| %>
            <%= render 'applications/tables/additional_information_fields', f: subform %>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="h-50 card" style="overflow: auto">
      <!-- Uploaded -->
      <table
        class="table nested-table uploaded-table"
        data-uploaded-risk-rating-target="uploadedTable">
        <thead style="position: sticky; top: 0; z-index: 1;">
          <tr>
            <th class="fw-normal small" style="width: 14em">
              <div class="ps-2 pb-2">Uploaded</div>
            </th>
            <th></th>
            <th class="text-center" style="width:3em">
              <%= link_to_add_association 'Add',
                                          form,
                                          :application_uploads,
                                          'data-association-insertion-node': '.uploaded-fields',
                                          'data-association-insertion-method': 'append',
                                          partial: 'applications/tables/uploaded_fields',
                                          class: 'btn btn-sm btn-outline-primary m-2',
                                          'data-action': 'change->uploaded-risk-rating#setUploadedText' %>
            </th>
          </tr>
        </thead>
        <tbody class="uploaded-fields">
          <%= form.fields_for :application_uploads do |subform| %>
            <%= render 'applications/tables/uploaded_fields', f: subform %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row border-top mt-3 pt-2">
  <div class="col-3">
    <div class="row">

      <div class="col">
        <!-- Description -->
        <%= form.label :description %>
        <%= form.text_area :description, style: 'height: 11vh' %>
      </div>
    </div>
    <div class="row">

      <div class="col">
        <!-- Administration notes -->
        <%= form.label :administration_notes %>
        <%= form.text_area :administration_notes, style: 'height: 11vh' %>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="row">

      <div class="col">
        <!-- Invoice to -->
        <%= form.label :invoice_to %>
        <%= form.text_field :invoice_to %>
      </div>

      <div class="col">
        <!-- Care of -->
        <%= form.label :care_of %>
        <%= form.text_field :care_of %>
      </div>
    </div>
    <div class="row">

      <div class="col">
        <!-- Invoice email -->
        <%= form.label :invoice_email %>
        <%= form.text_field :invoice_email %>
      </div>
    </div>
    <div class="row">

      <div class="col">
        <!-- Attention -->
        <%= form.label :attention %>
        <%= form.text_field :attention %>
      </div>

      <div class="col">
        <!-- Purchase Order Number -->
        <%= form.label :purchase_order_number, 'Purchase No.' %>
        <%= form.text_field :purchase_order_number %>
      </div>
    </div>
    <div class="row">

      <div class="col">
        <!-- Invoice debtor notes -->
        <%= form.label :invoice_debtor_notes %>
        <%= form.text_area :invoice_debtor_notes, style: 'height: rvh' %>
      </div>
    </div>
  </div>

  <div class="col-6">
    <!-- Invoices -->
    <div class="card" style="max-height: 17em; overflow: auto">
      <table
        class="table nested-table mb-0"
        data-controller="invoice-table"
        data-action="cocoon:after-remove->invoice-table#updateGstAndTotals"
        data-action="cocoon:after-insert->invoice-table#updateGstAndTotals">
        <thead style="position: sticky; top: 0; z-index: 1;">
          <tr>
            <th class="fw-normal small">
              <div class="ps-2 py-2">Invoice date</div>
            </th>
            <th class="fw-normal small">
              <div class="ps-2 py-2">Stage</div>
            </th>
            <th class="fw-normal small">
              <div class="ps-2 py-2">KD fee</div>
            </th>
            <th class="fw-normal small">
              <div class="ps-2 py-2">GST</div>
            </th>
            <th class="fw-normal small">
              <div class="ps-2 py-2">Admin fee</div>
            </th>
            <th class="fw-normal small">
              <div class="ps-2 py-2">Invoice no.</div>
            </th>
            <th class="fw-normal small">
              <div class="ps-2 py-2">Paid</div>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody class="invoice-fields">
          <%= form.fields_for :invoices do |subform| %>
            <%= render 'applications/tables/invoice_fields', f: subform %>
          <% end %>
        </tbody>
        <tfoot style="position: sticky; bottom: 0; z-index: 1;">
          <tr>
            <td class="fw-normal small">
              <div class="ps-2">Totals</div>
            </td>
            <td></td>
            <td class="fw-normal small">
              <div class="ps-2" data-invoice-table-target="kdFeeTotal">
              </div>
            </td>
            <td class="fw-normal small">
              <div class="ps-2" data-invoice-table-target="gstTotal">
              </div>
            </td>
            <td class="fw-normal small">
              <div class="ps-2" data-invoice-table-target="adminFeeTotal">
              </div>
            </td>
            <td class="fw-normal small">
              <%= form.label :fully_invoiced,
                             'Fully invoiced',
                             style: 'margin-top: 0px !important' %>
            </td>
            <td class="fw-normal small">
              <%= form.check_box :fully_invoiced %>
            </td>
            <td>
              <%= link_to_add_association 'Add',
                                          form,
                                          :invoices,
                                          'data-association-insertion-node': '.invoice-fields',
                                          'data-association-insertion-method': 'append',
                                          partial: 'applications/tables/invoice_fields',
                                          class: 'btn btn-sm btn-outline-primary m-2' %>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
