<div class="row">
  <div class="col-4">
    <% if @application.attachments.any? %>
      <% @application.attachments.each do |attachment| %>
        <%= form.hidden_field :attachments, multiple: true, value: attachment.signed_id %>
      <% end %>
    <% end %>
    <%= form.label :attachments, 'Select attachments to upload' %>
    <%= form.file_field :attachments, multiple: true, class: 'form-control' %>
  </div>
</div>

<% if @application.attachments.any? %>
  <div class="row mt-3">
    <div class="col-6">
      <ul class="list-group">
        <% @application.attachments.each do |attachment| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div style="word-break: break-word; max-width: 80%;">
              <%= link_to attachment.filename, url_for(attachment) %>
              <small class="text-muted">(<%= number_to_human_size(attachment.byte_size) %>)</small>
            </div>
            <%= link_to 'Remove',
                        remove_attachment_application_path(attachment),
                        method: :delete,
                        data: {
                          turbo_method: 'delete',
                          turbo_confirm: 'Are you sure you want to delete this attachment?',
                          confirm_details: 'This cannot be undone.'
                        },
                        class: 'btn btn-sm btn-danger' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
