<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">
        <!-- Building Surveyor -->
        <%= form.label :building_surveyor %>
        <%= form.select :building_surveyor, Application::BUILDING_SURVEYOR %>
      </div>

      <div class="col">
        <!-- Assessment Assigned -->
        <%= form.label :assessment_commenced, 'Assessment assigned' %>
        <%= form.date_field :assessment_commenced %>
      </div>

      <div class="col">
        <!-- Risk Rating -->
        <%= form.label :risk_rating %>
        <%= form.select :risk_rating,
                        Application::RISK_RATING,
                        {},
                        data: {
                          'uploaded-risk-rating-target': 'riskRating',
                          action: 'change->uploaded-risk-rating#onRiskRatingChange'
                        } %>
      </div>

      <div class="col-2">
        <!-- CITB -->
        <%= form.label :construction_industry_trading_board, 'CITB', class: 'w-100' %>
        <%= form.check_box :construction_industry_trading_board %>
      </div>
    </div>
    <div class="row">

      <div class="col">
        <!-- Structural Engineer -->
        <%= form.label :structural_engineer, style: 'font-size:smaller' %>
        <%= form.select :structural_engineer, Application::STRUCTURAL_ENGINEER %>
      </div>

      <div class="col">
        <!-- External Engineer Date -->
        <%= form.label :external_engineer_date, 'External engineer' %>
        <%= form.date_field :external_engineer_date %>
      </div>

      <div class="col">
        <!-- Structural engineer fee -->
        <%= form.label :structural_engineer_fee, 'Structural engineer fee ($)' %>
        <%= form.text_field :structural_engineer_fee, type: 'number', min: '1', step: 'any' %>
      </div>
    </div>
    <div class="row">

      <div class="col">
        <!-- Engineer certificate ceceived -->
        <%= form.label :engineer_certificate_received %>
        <%= form.date_field :engineer_certificate_received %>
      </div>

      <div class="col">
        <!-- Certificate reference -->
        <%= form.label :certificate_reference %>
        <%= form.text_field :certificate_reference %>
      </div>

    </div>
    <div class="row">

      <div class="col">
        <!-- Certifier -->
        <%= form.label :certifier %>
        <%= form.select :certifier,
                        # Allows old certifiers to be selected and auto-selects single option
                        application.certifier_options,
                        selected: application.selected_certifier,
                        include_blank: false %>
      </div>

      <div class="col">
        <!-- C Review/Inspection -->
        <%= form.label :consultancies_review_inspection, 'C Review/Inspection' %>
        <%= form.date_field :consultancies_review_inspection %>
      </div>

      <div class="col">
        <!-- C Report Sent -->
        <%= form.label :consultancies_report_sent, 'C Report Sent' %>
        <%= form.date_field :consultancies_report_sent %>
      </div>
    </div>
    <div class="row">

      <div class="col">
        <!-- Final consent issued -->
        <%= form.label :consent_issued, 'Final consent issued' %>
        <%= form.date_field :consent_issued %>
      </div>

      <div class="col">
        <!-- Variation Issued -->
        <%= form.label :variation_issued %>
        <%= form.date_field :variation_issued %>
      </div>

      <div class="col">
        <!-- COO Issued -->
        <%= form.label :coo_issued %>
        <%= form.date_field :coo_issued %>
      </div>
    </div>
    <div class="row mt-3 pt-2">
      <div class="col">

        <div class="card" style="max-height: 23em; min-height: 23em; overflow: auto">
          <!-- RFIs Issued -->
          <table
            class="table nested-table h-100"
            data-controller="rfis-table"
            data-action="
              cocoon:after-remove->rfis-table#updateRfiNumbers
              cocoon:after-insert->rfis-table#updateRfiNumbers
            ">
            <thead style="position: sticky; top: 0; z-index: 1;">
              <tr>
                <th class="fw-normal small" style="width: 3em">
                  <div class="ps-2 pb-1">RFIs issued</div>
                </th>
                <th></th>
                <th class="text-center" style="width:3em">
                  <%= link_to_add_association 'Add',
                                              form,
                                              :request_for_informations,
                                              'data-association-insertion-node': '.request-for-informations-fields',
                                              'data-association-insertion-method': 'append',
                                              partial: 'applications/tables/request_for_informations_fields',
                                              class: 'btn btn-sm btn-outline-primary m-2' %>
                </th>
              </tr>
            </thead>
            <tbody class="request-for-informations-fields">
              <%= form.fields_for :request_for_informations do |subform| %>
                <%= render 'applications/tables/request_for_informations_fields', f: subform %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-8">
        <div class="card" style="max-height: 23em; min-height: 23em; overflow: auto">
          <!-- Stages -->
          <table class="table nested-table h-100">
            <thead style="position: sticky; top: 0; z-index: 1;">
              <tr>
                <th class="fw-normal small">
                  <div class="ps-2 pb-2">Stages</div>
                </th>
                <th></th>
                <th></th>
                <th class="text-center" style="width:3em">
                  <%= link_to_add_association 'Add',
                                              form,
                                              :stages,
                                              'data-association-insertion-node': '.stages-fields',
                                              'data-association-insertion-method': 'append',
                                              partial: 'applications/tables/stages_fields',
                                              class: 'btn btn-sm btn-outline-primary m-2' %>
                </th>
              </tr>
            </thead>
            <tbody class="stages-fields">
              <%= form.fields_for :stages do |subform| %>
                <%= render 'applications/tables/stages_fields', f: subform %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">

    <div class="col">
      <!-- Certification notes -->
      <%= form.label :certification_notes %>
      <%= form.text_area :certification_notes, style: 'height: 47.5em' %>
    </div>
  </div>
</div>
